[2019-01-17 15:11] antgonza commented on #398
I would say that it should point to dev. Remember all new changes go to qiita-dev and once ready they are pushed to main; thus, there is no assurance that what works in master will work in dev and later in master (after a release). Another option is to build against both. My 2 pesos.

[2019-02-04 19:54] charles-cowart opened #399 "Tube ID/Study ID issue"
AN ERROR HAS OCCURED!
Please copy the following into an issue in our github repository
Error
Error running SQL query: Query: SELECT tube_id_1_aa FROM qiita.sample_12164 WHERE sample_id = %s Arguments: ['12164.PM01.RECT.PRE'] Error: column "tube_id_1_aa" does not exist LINE 1: SELECT tube_id_1_aa ^
Traceback
Traceback (most recent call last):
File "/home/labcontrol/labcontrol/labman/labman/db/sql_c

[2019-02-04 19:55] charles-cowart commented on #399
As Greg mentioned, the expected behavior is that a column can be set to be the ID, and will then be auto populated on entry. That doesn't appear to be happening with Tube ID set to be the column. MacKenzie and Greg are currently having to use the study id to avoid red fields.

[2019-02-07 21:46] charles-cowart opened #402 "Migrating labcontrol to latest Qiita"
I've discovered that the Travis build is dependent on Qiita's dev branch; this makes Travis integration a moving target, and a successful build can subsequently fail if Qiita has changed. I am currently working on updating Labcontrol to access the sample_* tables recently changed to American Gut. In addition, I've made some low-level changes to the build environment, in order to keep PostgreSQL fr

[2019-02-07 22:20] josenavas commented on #402
Hi Charles,

If all the test cases in Labman are inheriting from the LabmanTestCase class (https://github.com/jdereus/labman/blob/master/labman/db/testing.py#L56), the DB is being reseted automatically after ALL tests in a class are running. Note that resetting the DB after each test is not viable due to long running times.

Can you elaborate in which sense travis integration is a moving target? T

[2019-03-26 23:48] wasade opened #405 "Silent 500 errors when plating samples"
`maptest.ucsd.edu` presently has read issues with the `qiita.sample_10317` database table. This is not obvious to the user when plating samples as, in some cases the samples are flagged in red, in others, there is a blue stripe, and in others the samples appear valid (or no indication to suggest otherwise).

This particular issue is present due to a 500 error that appears to result from a permissi

[2019-03-27 16:21] charles-cowart opened #406 "Labcontrol is creating extra plates"
@antgonza reports that extra plates are being created during plate creation process. Will investigate and add detail.

[2019-03-27 16:36] charles-cowart opened #407 "Labcontrol is slow, after insertion of a small number of plates."
This may be a duplicate issue.

[2019-03-27 16:43] charles-cowart commented on #402
Labcontrol was updated to use the latest Qiita schema, and PostgreSQL configuration in Travis was updated to maintain a minimal transaction log; this will prevent the Travis builds from failing due to lack of disk space. Creating a new issue out of Jeff's suggestion

[2019-03-27 16:43] #402 closed

[2019-03-27 16:46] charles-cowart opened #408 "Changes in Qiita Dev should trigger Labcontrol integration test"
As Labcontrol Travis builds have Qiita's dev branch as a dependency, changes to Qiita's dev branch should trigger an integration test for Labcontrol.

[2019-03-27 16:47] charles-cowart commented on #408
Adding Jeff, if only to touch base with him on it.

[2019-03-27 16:49] charles-cowart commented on #398
Closing as a non-issue, as it's been accepted practice to build off of Qiita dev branch

[2019-03-27 16:49] #398 closed

[2019-03-27 20:44] antgonza commented on #223
Just tested this in maptest/qiita and is not happening. Also, after chatting with @ElDeveloper he remembers that this used to happen in his local install ... thus, closing.

[2019-03-27 20:44] #223 closed

[2019-03-31 21:21] wasade commented on #267
In #414, I took the more conservative approach which was to assert only a single composition type is present. I have zero idea of what would be needed downstream to support multiple composition types.

[2019-04-01 19:24] charles-cowart commented on #373
Shotgun primer plates 'iTru 5 primer 2019-03-21' and 'iTru 7 primer 2019-03-21' have been added.

Confirmed that users creating primer working plates are able to change the date through the calendar widget, or directly. Hence, it is not necessary for a db admin to manually change the database entry to appear correctly. (It may still be beneficial to change the name of the Process tied to a primer

[2019-04-01 19:52] charles-cowart opened #415 "Validate primer combination allocation"
Output from shotgun library prep is similar to, but is not equal to the output from https://github.com/tanaes/metagenomics_pooling_notebook.git. Confirmed labcontrol.ucsd.edu and notebook both used test_output/iTru/new_iTru_combos_Dec2017.csv. Amanda and I are investigating.

[2019-04-01 20:48] wasade commented on #407
Duplicate of #173

[2019-04-01 20:48] #407 closed

[2019-04-01 20:49] wasade commented on #406
Possibly related, created plates are not assured to be included in `list_plates`:

[code]

[2019-04-01 20:56] wasade opened #416 "Exception when creating ITS and 18S primer plates"
It is not possible to create ITS or 18S primer plates. The example .gif shows an attempt to create an 18S plate; the same error is observed with ITS. 16S and shotgun appear to work.

![working_primers_issue](https://user-images.githubusercontent.com/474290/55359090-dc01cd80-5485-11e9-90fe-48947c083970.gif)

An observed traceback is below.

[code]

[2019-04-01 21:10] wasade commented on #390
A manual review of the functions did not identify any additional mutable default arguments.

[2019-04-01 21:10] #390 closed

[2019-04-01 21:40] #276 closed

[2019-04-01 22:23] #267 closed

[2019-04-01 22:23] #231 closed

[2019-04-01 23:16] antgonza commented on #361
@AmandaBirmingham, do you have instructions of how to reproduce this error? Thanks!

[2019-04-01 23:17] charles-cowart opened #417 "Echo Pick List cannot be (re)downloaded"
Echo pick list cannot be (re)downloaded, once the user has moved away from the Shotgun Library Prep page; there is no page available to return and download.

[2019-04-02 01:28] charles-cowart commented on #415
Amanda and I recreated the Echo pick-list files for the two plates that were created on 03-27-2019 and confirmed that the Labcontrol output from Rodolfo was from the first plate, with a starting combo index of 384, where previously we assumed it was 756.

Previously, we confirmed that the shotgun primer combo set IDs began at 1 in the labcontrol database, whereas in the ipython script, they begin

[2019-04-02 06:19] AmandaBirmingham commented on #415
Slight tweaks here: We confirmed that the "*_indices.txt" file from Rodolfo was from the first plate, which had a starting index of *1* (not 384) whereas we had previously assumed it was *768*.   Keep in mind @charles-cowart 's note about labcontrol combo ids starting at 1 while the combo indexes in the lab's ipython notebooks begin at 0 :)

Re deleting the additional plate in LabControl: let's ju

[2019-04-02 14:32] antgonza opened #419 "Add target to Plate.list_plates"
See full discussion here:
_Originally posted by @antgonza in https://github.com/jdereus/labman/pull/418/files_

[2019-04-02 17:11] AmandaBirmingham commented on #415
Confirmed.  Per meeting with wet-lab on 10/092018:

library prep echo picklist:
file name: date_nameofcompressedplate_indices.txt
**doesn't need to be sorted** [emphasis added]
index combo: don't need to add
sample: ok to have study id prefix
source plate name: replace all whitespace with an underscore
                # replace whitespace with underscore
                dna_plate_name = re.sub('\s

[2019-04-02 17:40] charles-cowart commented on #415
Gotcha. I made a Jupyter notebook last night, comparing the results from each. A few tweeks and I'll send you a copy.

[2019-04-02 21:45] charles-cowart commented on #415
Just to recap a few points from @AmandaBirmingham 's email to everyone:

We reset the library_prep_shotgun_composition primary key to a value above 21505, so future library_prep_shotgun_composition records that go in should have no more “this key has already been used” errors (Caused by incorrectly updating library_prep_shotgun_composition's primary key to 21120.)

We reset the current_combo_index

[2019-04-02 22:48] charles-cowart opened #420 "Prepare Amplicon Sequencing Pool allows user to add metagenomics (not amplicon) plate pools, which leads to error downstream in sequencing run sample sheet preparation"
Note: The original issue described in this comment, "Download Preparation Sheets button producing junk output" is a duplicate of https://github.com/jdereus/labman/issues/444 and has already been diagnosed there.  I have therefore changed the name of this issue to reflect the *sample sheet* related concerns raised in the comments.

-------------------------------------------------------------------

[2019-04-02 22:56] charles-cowart opened #421 "Use initials instead of email addresses"
Wet-lab requests that initials (MB, JT, etc.) are used for display purposes in Labman, instead of using email addresses. Specific page(s) weren't given, but presumably this includes 'Sequence Run List' at the least.

With respect to the above page, it may also be prudent to change the name of the column from 'PI' to something else.

[2019-04-02 22:57] charles-cowart opened #422 "Change "Preparation File" to "Mapping File""
Wet-lab requests that 'Preparation File' be changed to 'Mapping File'. Specific page(s) weren't given, but presumably this includes 'Sequence Run List' at the least.

[2019-04-02 23:08] charles-cowart opened #423 "Robot not recognizing pooling file."
From Wet-lab: "When we originally downloaded the pooling file for HNRC 4, our robot did not recognize the file, since it was missing the line-break character for the csv. Once we opened it and saved it as a csv in Excel, then the file saved correctly. I haven't seen this issue happen again while downloading the file from the Pool List"

[2019-04-02 23:10] wasade commented on #422
Please verify this with Gail

[2019-04-02 23:12] charles-cowart commented on #422
Will do!

On Tue, Apr 2, 2019 at 4:11 PM Daniel McDonald <notifications@github.com>
wrote:

[2019-04-02 23:16] wasade commented on #422
Thanks!

[2019-04-03 00:19] charles-cowart opened #424 "Update Labcontrol unit tests."
Unit tests in TestPlateConfiguration should be updated to account for new database column 'creation_timestamp'. Tests can also be updated to be more flexible.

[2019-04-03 00:25] charles-cowart opened #425 "Mapping (Preparation?) File Requests from Wetlab"
Latest mapping file downloaded is empty, however AGP mapping files in the past were downloaded with no trouble (Investigate issue).

(Investigate) It appears AGP mapping files are split into two separate files, one for blanks,  and the other for samples. Wetlab prefers a single mapping file for both.

Remove dashes from Extraction robot (ROBE, instead of ROB-E). This seems like it would require a

[2019-04-03 00:28] charles-cowart opened #426 "Verify AGP barcodes match between legacy mapping files and LC-generated."
"[Wetlab] checked 3 barcodes in AGP between our own mapping files, and the ones that lab control generated and they seemed fine." Wetlab is requesting if there is a better way to ensure that all of them match. This can probably be done programmatically in an iPython Notebook.

[2019-04-03 00:50] charles-cowart commented on #423
Pooling file for HNRC_4 vs AGP Plate 234 appear to be identical in format. Viewed as hex, lines in both files are terminated with 0a (Line Feed). Both files appear to lack a final line feed after the final row. If the robot is tied to a Windows platform PC, it may be that the files need to be terminated with 0d0a (CR, LF), as is standard w/that platform. Will continue to investigate.

[2019-04-03 01:29] charles-cowart commented on #421
Labcontrol relies on Qiita's user data for access control, however it does keep a list of Qiita users w/access to Labcontrol in the table: labman.labmanager_access. The best way of implementing this would be to add a second column in this table to store an email's associated initials, and then create them when the user is given Labcontrol access; this metadata field doesn't apply to most Qiita use

[2019-04-03 03:37] antgonza commented on #421
Should this be in Qiita? I mean the user can change their name in Qiita, then LabControl can check the name/initials; not sure worth expending effort doing in two places. Note that we could even use the same cookie secret if we wanted both systems to have the same cookies.

[2019-04-03 03:39] antgonza commented on #422
Yes, let's verify with Gail cause a mapping file, traditionally has been a qiime mapping file, which is a combination of sample and prep information file ... which is what qiita generates. This is important to avoid confusion within and between users and developers.

[2019-04-03 04:37] charles-cowart commented on #421
If you think it’s no trouble.

On Tue, Apr 2, 2019 at 8:37 PM Antonio Gonzalez <notifications@github.com>
wrote:

[2019-04-03 11:35] antgonza commented on #421
I _think_ it should be fine but let's discuss in the Qiita meeting.

[2019-04-03 20:55] ackermag commented on #421
Greg and I signed off on using email addresses instead of initials in development meetings.  Email addresses are more helpful for trouble-shooting when time has passed and people are no longer in the wetlab and not remembered from initials.

[2019-04-03 20:56] charles-cowart commented on #421
Closing per Gail's request.

[2019-04-03 20:56] #421 closed

[2019-04-03 20:59] ackermag commented on #422
Do not agree to retain the designation "mapping file".  As @antgonza says a mapping file is usually Qiime mapping file.  We are outputting all the required info for a prep file in Qiita.

[2019-04-03 21:05] charles-cowart opened #427 "Change robot ROB-E to ROBE"

[2019-04-03 21:07] ackermag commented on #427
Robot names should be standardized - this should just mean making sure they match what is on the machine.

[2019-04-03 21:21] ackermag opened #428 "Samples mistakenly allocated to control output and omitted from sample output (mapping file)"
Output from LabControl gives 2 mapping files: one for controls/blanks and one for samples.  In this case 2 samples were mistakenly added to the control sheet and omitted from the sample list sheet.  This appears to be a bug.  See attached.
[2018-12-14_prep_American_Gut_Project_Plate_229_231-235_10317 (1).txt](https://github.com/jdereus/labman/files/3040785/2018-12-14_prep_American_Gut_Project_Plat

[2019-04-03 21:24] ackermag commented on #426
It can easily be done in Excel - I have shown Julia and MacKenzie how to check that all are correct and map to the original output.

[2019-04-03 21:25] charles-cowart commented on #426
Closing at Gail's request.

[2019-04-03 21:25] #426 closed

[2019-04-03 21:29] ackermag opened #429 "In the column "orig_name" study ID should not be prepended"
Should be name as provided by user - sample_name or tube_id

[2019-04-03 21:31] ackermag opened #430 "Instrument_model is a standard vocabulary in EBI"
The developer group agreed to pre-populate with "Illumina MiSeq" since that is the most frequently used instrument.

[2019-04-03 21:34] ackermag opened #431 "Project_name column in prep sheet is empty in controls output"
Should reflect the project that the blanks/controls refer to.

[2019-04-03 21:58] charles-cowart commented on #427
'ROB-E', 'RIK-E', and 'JER-E' changed to 'ROBE', 'RIKE', and 'JERE', respectively.

[2019-04-03 21:58] #427 closed

[2019-04-04 00:36] wasade commented on #372
Fixed in #418

[2019-04-04 01:12] charles-cowart commented on #399
This query should now be:

as 'tube_id_1_aa' is now a field stored as JSONB. Currently locating the source of the query.

[2019-04-04 01:35] charles-cowart opened #432 "Color legend for plate maps"
Plate map cells change color after an entry has been added. Sometimes, it's not clear to the wetlab what the colors represent.

[2019-04-04 02:12] charles-cowart commented on #399
Above error cannot be recreated. Plate involved has since been discarded, and is no longer accessible to the UI on labcontrol.ucsd.edu. Error could not be recreated creating new test plates with the same study (12164), on both maptest and labcontrol.ucsd.edu.

Interestingly, specimen_id was set for the above study to tube_id_1_aa in labcontrol, but not maptest. Hence the behavior when inserting da

[2019-04-04 02:12] #399 closed

[2019-04-04 02:38] charles-cowart commented on #406
RE: the above code, it looks like the list_plates() method builds a query that joins labman.plate with labman.well on plate_id. Hence, the newly-created plate is not being returned in list_plates() because the plate wells are empty.

[2019-04-04 02:43] charles-cowart commented on #406
@antgonza Are you still having this issue? I'm observing maptest's labman.plate table while creating new plates using Plate.create() and through the GUI, and I can't recreate this issue.

[2019-04-04 19:07] charles-cowart commented on #373
Mostly sure run_dates do not need to be modified in Process table. The run_date is available to the Process() object as a property (date), however it's use appears limited to discussing Processes. It's not being used as the date for the iTru5 and iTru7 primers themselves.

[2019-04-04 19:23] charles-cowart commented on #373
I set the discarded flag on 'iTru 5 primer 2019-03-27' and 'iTru 7 primer 2019-03-27' entries in labman.plate to true. This has the intended effect of removing them from the Shotgun Library Prep page's 'Select i5/i7 primer plate' pull-downs. There are 384 wells associated with each (plate id 78, 79) in labman.well, however I don't think this is an issue.

[2019-04-04 20:58] charles-cowart commented on #373
I'm going to tentatively close this issue, as it doesn't seem reasonable to ask the Wet-lab to produce a canonical list of all working primer plates. Since we do appear to have working plates for both Shotgun and 16S, and we are able to create new plates through the UI with the correct date, we can add new ones on demand.

[2019-04-04 20:58] #373 closed

[2019-04-04 21:14] charles-cowart commented on #295
Also, it looks like this pull-down is pulling from a list of all qiita users, instead of pulling from qiita.study_person, which is where all PI IDs from qiita.study reference to. It might help to make the list make more sense, as well as faster, to pull from this smaller table instead.

Tentatively changing to 'PI of Study Being Sent for Sequencing'. Open to alternatives.

[2019-04-04 21:57] adswafford commented on #284
@charles-cowart Current help doc is here: https://github.com/jdereus/labman/blob/master/docs/index.rst

[2019-04-05 04:29] charles-cowart commented on #295
Tentatively changed to 'PI of study sent for sequencing:'

[2019-04-05 14:23] ackermag opened #433 "Change error message so error location(cell, row, column) is referenced"
Right now error message reads as "line nnn..." which doesn't apply to actual plate map line.
This would be nice to have
<img width="571" alt="Screen Shot 2019-04-05 at 7 21 40 AM" src="https://user-images.githubusercontent.com/2014592/55634580-a43fa200-5773-11e9-88f0-580331cf8325.png">

[2019-04-05 14:30] ackermag opened #434 "Creating a plate map with sequential numbers generates an error"
Error attached and plate map attached.
<img width="571" alt="Screen Shot 2019-04-05 at 7 21 40 AM" src="https://user-images.githubusercontent.com/2014592/55634882-4069a900-5774-11e9-91b2-ffb2f56cbcfe.png">
<img width="848" alt="Screen Shot 2019-04-05 at 7 29 22 AM" src="https://user-images.githubusercontent.com/2014592/55635068-aa824e00-5774-11e9-85ac-cd2dc25683e6.png">

[2019-04-05 14:32] ackermag commented on #434
We found a work-around for this by adding a letter to the sample number

[2019-04-05 17:57] wasade commented on #434
@charles-cowart @AmandaBirmingham, the script noted here was authored by @qiyunzhu. This script is presently used *if LabControl* is not involved in the plating process. However, the correctness of the outputs from `LabControl` are based on a comparison to the results of this script.

@charles-cowart @AmandaBirmingham, have either of you seen this script? If the answer is no, @qiyunzhu, can you em

[2019-04-05 17:57] #434 closed

[2019-04-05 17:58] wasade commented on #433
Please see the comment history on #434

[2019-04-05 17:58] #433 closed

[2019-04-05 18:00] charles-cowart commented on #295
It appears that the emails in qiita.study_person (unlike qiita.study_users) are not foreign-keyed to qiita.qiita_user. The pulldown menu takes a couple seconds to load; however, I'm hesitant to change it to pull from qiita.study_person, when half of the emails don't reference a qiita user, and that is the assumption the consumer of this data expects.

Text label has been changed. I will create a n

[2019-04-05 18:00] #295 closed

[2019-04-05 18:04] charles-cowart opened #435 "Pull-down menu slow in Prepare Sequencing Runs page."
Pulldown menu for PIs is slow, and pulls from the qiita.qiita_users list. Most people in this list won't be PIs. However, the PIs referenced in qiita.study point to email addresses in qiita.study_person that don't reference qiita.qiita_users addresses. Need to confirm that the PIs in this pulldown must be Qiita users before changing.

[2019-04-05 18:10] charles-cowart commented on #434
@wasade I have not seen this script. If Labcontrol output is supposed to match, this is an issue, right?
@ackermag Thanks! I'm a little confused however; you guys added a letter to the sample number, but I don't see sample numbers in the image above.

[2019-04-05 18:29] ackermag commented on #434
@charles-cowart The second screen shot shows the plate map for these samples.  The letter (R) was added to the number in the individual cells.

[2019-04-05 18:36] charles-cowart commented on #434
@ackermag Thanks! It's not clear to me whether the second image is Labcontrol, or this script @wasade mentioned; LC would be highlighting errors, for example.

[2019-04-05 18:46] wasade commented on #434
@charles-cowart, this screenshot is not from LabControl, same with the screenshot in #433. The critical item here is: this is a process the lab actively performs which LabControl is to be compared against.

[2019-04-05 18:57] charles-cowart opened #437 "Test LC plating across multiple studies"
Mackenzie and Gail have noted that, at least in the wet-lab, only a single study at a time has been test-plated. Before full-launch, we should test two or more studies being plated at the same time, as that is the most likely scenario.

[2019-04-05 19:26] charles-cowart commented on #432
Either Amanda or myself would be the best people to handle this; it doesn't need to be both people.

[2019-04-05 20:40] charles-cowart commented on #431
@ackermag I might need clarification on where this is occurring in the user interface.

[2019-04-05 20:41] charles-cowart commented on #430
@ackermag I might need to clarify where in the UI this is occurring.

[2019-04-05 20:50] charles-cowart opened #438 "Change labman/labman/db/process.py generate_echo_picklist() call to _format_picklist() to pass in 20000 (nL) as max_vol_per_well"
From RodolfoSalido:

I quantified my Shotgun libraries and generated a pooling file using Lab Control. I only noticed one discrepancy between the pooling file generated by Lab Control and that generated by our Jupyter notebook. Our Jupyter notebook is designed to pool into a destination well until it reaches a certain volume (30µL) and then it cycles to the next well. The Lab Control pooling funct

[2019-04-05 21:26] charles-cowart commented on #438
From RodolfoSalido's output:

283 rows do not match between the two outputs, out of the total of 384. Of the rows that don't match, they appear to differ by 1/100th of a unit in transfer volume, and the destination wells differ. Awaiting confirmation from Rodolfo.

File A:
1,384LDV_AQ_B2_HT,B2,,262.69,NormalizedDNA,A1
1,384LDV_AQ_B2_HT,B8,,363.07,NormalizedDNA,A1

File B:
1,384LDV_AQ_B2_HT,B2,,262

[2019-04-05 21:37] charles-cowart commented on #422
Closing, as it appears there is good reason not to make the change.

[2019-04-05 21:37] #422 closed

[2019-04-05 21:39] charles-cowart commented on #429
@ackermag Need clarification on where the 'orig_name' column is being observed in LC or LC's output.

[2019-04-05 21:44] ackermag commented on #429
LC output.

On Fri, Apr 5, 2019 at 2:39 PM charles-cowart <notifications@github.com>
wrote:

--
Gail Ackermann
Knight Lab
UCSD
glackermann@ucsd.edu <ackermag@ucsd.edu>

[2019-04-05 21:46] charles-cowart commented on #365
Tentatively moving to 'Nice-to-Haves'. Wet-lab can uniquely identify two runs using the tuple (id, name). Uncertain if applying a constraint on the run name will solve problems vs introducing new ones.

[2019-04-05 21:50] charles-cowart commented on #77
@AmandaBirmingham Wondering if the wet-lab needs this feature for full launch, or if it can be added later.

[2019-04-05 21:51] AmandaBirmingham commented on #77
@charles-cowart  no one from the actual wet lab has ever asked me for it/about it, so I'm not convinced of its importance.

[2019-04-05 23:40] charles-cowart commented on #438
Confirmed - here are the transfer volumes summed for each of the destination wells for each file:
From Rodolfo:

The real granularity of our liquid handler is 2.5 nL increments do 1/100th unit discrepancies are not a problem. If you sum all the volumes that go into any specific destination well, the addition shouldn’t exceed 30 micro-liters.

Confirmed by summing the transfer volumes in each file

[2019-04-06 05:31] charles-cowart commented on #438
It looks like the parameters set up in 'HTML_POOL_PARAMS_SHOTGUN' set 'blank-vol-' to empty string for the 'equal' pooling function. This in turn sets 'PoolingProcess.compute_pooling_values_eqvol().total_vol' to 60ul by default.

@AmandaBirmingham , perhaps changing the maximum total volume of the destination well to 30ul is a matter of setting the 'Pool all blanks at volume' property?

![image](h

[2019-04-06 06:07] charles-cowart commented on #423
Several pooling files for both Amplicon and Shotgun have been reviewed in the course of looking into other issues, and they all appear to be of the same format. This implies that the output for HNRC 4 isn't anomalous. I believe these machines do have a windows-based interface, will confirm with Mackenzie during the shadowing process.

[2019-04-06 06:10] charles-cowart commented on #438
Issues w/maptest when leaving this page and coming back to it. The robustness of this page needs to be addressed (See #361)

[2019-04-06 06:22] charles-cowart commented on #425
Extraction robot names have had their dashes removed in production (Labcontrol.ucsd.edu). This includes 'ROB-E', 'RIK-E', and 'JER-E'.

[2019-04-06 06:23] charles-cowart commented on #425
Dashes from primer

[2019-04-06 06:26] charles-cowart commented on #419
@antgonza it appears that since code changes have been merged, this issue can be closed?

[2019-04-06 06:34] charles-cowart commented on #261
Since the wet-lab is vetting the output, it would seem they would bring this up if it's an issue.

[2019-04-06 13:00] antgonza commented on #419
This issue was opened so that PR could be merged as we decided that this requested change was out of the scope of the original issue. In other words, this hasn't been solved yet.

[2019-04-06 19:18] charles-cowart commented on #419
Thanks Antonio!!

On Sat, Apr 6, 2019 at 6:00 AM Antonio Gonzalez <notifications@github.com>
wrote:

[2019-04-08 17:41] AmandaBirmingham commented on #365
I do not suggest introducing a constraint on the run name--rather, I suggest adding another column that shows the DATE that a sequencing run was produced.

[2019-04-08 19:53] charles-cowart opened #439 "Need to remove plates used for testing"
Provide MacKenzie a list of plates in LabControl, and let her decide which ones need to be removed or renamed. This will free up the names to be reused for the plates that should have them, as opposed to having to append something unsuitable like 'real one' or 'try 2'

[2019-04-08 20:08] charles-cowart commented on #423
MacKenzie and Julia confirmed that this file needs to be read, and is only read from Windows-based machines.

[2019-04-08 23:19] charles-cowart commented on #190
See https://github.com/jdereus/labman/pull/196#issuecomment-480391544 for a solution to an earlier version of the codebase.

[2019-04-08 23:34] charles-cowart commented on #365
@AmandaBirmingham That would be less invasive than changing the schema. I feel like it can stay in nice -to-haves for now, but up to you.

[2019-04-09 00:40] charles-cowart commented on #423
Modified PoolingProcess.generate_epmotion_file() to generate files w/CRLF. Will need to confirm PoolingProcess.generate_echo_picklist() does not need to be changed as well.

[2019-04-09 00:48] charles-cowart commented on #416
@wasade it looks like this was on localhost, but today we tried it on maptest. I will look into it.

[2019-04-09 18:30] charles-cowart commented on #438
Just to reiterate, I believe #361 should be resolved first, as it's not easy to get back results to confirm the correctness of a bug fix with the known beta issue.

[2019-04-09 18:33] charles-cowart commented on #387
Tentatively making this a nice to have, since I haven't had this feedback from the wetlab in recent weeks.

[2019-04-09 18:35] charles-cowart commented on #342
Tentatively making this nice to have, as I haven't received this feedback in recent weeks.

[2019-04-09 18:38] charles-cowart commented on #234
Migrating to nice-to-have, as this issue isn't impeding current functionality.

[2019-04-09 18:39] charles-cowart commented on #227
Let's resolve this before full-launch, since it involves human sequence filtering.

[2019-04-09 18:43] charles-cowart commented on #220
Let's make a decision about whether this is acceptable before full launch; post launch schema changes and migrating data would be preferable to avoid.

[2019-04-09 18:44] charles-cowart commented on #91
Nice to have, but low-priority.

[2019-04-09 19:22] charles-cowart commented on #423
Rodolfo says Echo pick list also goes to a Windows-based machine, but that they haven't been having problems with using the file. Plan is to tentatively leave as-is.

[2019-04-09 20:41] charles-cowart opened #441 "Plate external_ids (names) should not be left blank."
Row 29 in labman.plate has an empty name (external_id). Revisit Plate creation UI, backend API, and make sure they don't accept a blank plate-name.

Reviewing database logs to determine why this happened would be nice, but is not required.

[2019-04-09 21:06] antgonza commented on #362
@AmandaBirmingham, @charles-cowart, is this really required for the "Full Launch" milestone? To me this sounds like a nice to have for devs ...

[2019-04-09 21:26] charles-cowart commented on #362
@antgonza It would be nice to have; this is not the only case where once we leave a particular page, we can never retrieve/view the data again. The main reason it hasn't yet been an issue for the wet-lab is because they're currently duplicating all their work in Google Docs, etc. and have it there. IMHO, if this is going to be a full launch, this feature shouldn't be missing.

[2019-04-09 21:30] charles-cowart opened #443 "Support mini 16S protocol in Labcontrol"
Mini16S protocol is a newer protocol that reduces cost and time. It is not currently supported by LabControl.

This description is a placeholder issue to be fleshed out at a later date.

[2019-04-09 21:34] charles-cowart commented on #171
Since Javascript implements a lot of use-facing functionality, it would be really good to have at least some basic unit-testing for plate mapping at the least. We may find the source of some of our intermittent errors here.

[2019-04-09 21:50] charles-cowart commented on #431
To clarify, this is the 16S workflow's prep-information-file download (controls output file - 1 file of 2).

[2019-04-09 21:53] #364 closed

[2019-04-09 21:54] charles-cowart commented on #423
Merged, closed.

[2019-04-09 21:54] #423 closed

[2019-04-09 22:07] charles-cowart commented on #430
To clarify, this is also a column in one of the prep information files - from my notes, it presently reads 'MiSeq'

[2019-04-09 22:08] charles-cowart commented on #429
Assume prep information sheet files.

[2019-04-09 22:11] charles-cowart commented on #428
Observed as this bug was replicated during a visit to the wet-lab. It seems to appear when there are blanks in the initial plate, but more investigation is needed.

[2019-04-09 22:13] charles-cowart commented on #425
Gail and wetlab presently agree that splitting preparation files into two files - one for control and one for samples, isn't a serious issue at this time.

[2019-04-09 22:15] charles-cowart commented on #425
Breaking out sub-issues 1 and 4, and closing this issue. 2 and 3 are no longer issues. 4 is a nice-to-have issue, and 1 will be an issue to investigate for full launch.

[2019-04-09 22:15] #425 closed

[2019-04-09 22:17] charles-cowart opened #444 "Ensure content is downloadable."
"Latest mapping file downloaded is empty, however AGP mapping files in the past were downloaded with no trouble."

Review download buttons from existing plates, etc. and ensure content is downloadable. Where content is not downloadable, or is an invalid file, investigate as to the cause.

[2019-04-09 22:19] charles-cowart opened #445 "Consider merging preparation files"
Mapping (Preparation) files are split into two separate files, one for blanks, and the other for samples. Wetlab prefers a single mapping file for both.

[2019-04-09 22:57] charles-cowart commented on #415
Will confirm a few points w/Rodolfo in the morning.

[2019-04-09 23:03] charles-cowart commented on #408
As @antgonza pointed out, it's not vital for launch. However, as a production resource, it would be nice if LC could be automatically retested when Qiita is. Rests on how involved it will be to do.

[2019-04-09 23:05] charles-cowart commented on #406
high priority as other issues and general workings depend on proper functioning.

[2019-04-09 23:05] wasade commented on #416
Okay thanks. Maybe just some staging state, might be the initial population script is limited

[2019-04-09 23:26] charles-cowart commented on #344
Right now it's not clear who would know beforehand that the lab is going to get only 17 out of 20 samples. Suggest fleshing out problem and solution after Full Launch. Haven't heard from the wet-lab recently that this is an issue for them.

[2019-04-09 23:29] charles-cowart commented on #439
Provided list of plates to MacKenzie. Additional discussion w/ @wasade and @AmandaBirmingham

[2019-04-09 23:32] antgonza commented on #355
@AmandaBirmingham, I was looking into this issue and I'm confused on what are the intended purpose of "Well comments" and the "Notes" in that page. First, I can reproduce the behavior you describe, great notes - thanks! However, I think those 2 fields are not descriptions per well but general comments/notes for the full plate. For example, if you add 2 duplicated samples or notes, the messages are

[2019-04-09 23:33] charles-cowart commented on #308
I'll confirm with the wet-lab and the source what the intention of the field was supposed to be.

[2019-04-09 23:35] charles-cowart commented on #302
I think this is understood now that the wet-lab has had more time with it. Closing.

[2019-04-09 23:37] charles-cowart commented on #298
Moving to nice-to-haves, as it seems that the lab is more familiar with LC now.

[2019-04-09 23:42] charles-cowart commented on #290
Will check in w/Rodolfo and determine if the current intention is to maintain this separately or assimilate into LC.

[2019-04-09 23:46] charles-cowart commented on #287
It seems like the wet-lab is fairly comfortable with how plate names are entered, currently. Taking this off the board, as it appears self-evident that the wet-lab is validating the plate-names on entry.

[2019-04-09 23:46] #287 closed

[2019-04-09 23:49] charles-cowart commented on #310
This was my understanding as well. This seems like it should be resolved soon.

[2019-04-09 23:52] charles-cowart commented on #312
It might be nice to have this in a tool-tip, although I believe as they are getting more familiar with the software, this is less and less of an issue. Migrating to Nice to Haves.

[2019-04-09 23:53] charles-cowart commented on #313
Will check w/Mackenzie if this is still an issue.

[2019-04-09 23:54] ackermag commented on #429
Yes - prep info files

On Tue, Apr 9, 2019 at 3:08 PM charles-cowart <notifications@github.com>
wrote:

--
Gail Ackermann
Knight Lab
UCSD
glackermann@ucsd.edu <ackermag@ucsd.edu>

[2019-04-09 23:55] ackermag commented on #428
The incidence you observed, the sample mis-allocated was one that was an
error - the sample was reeived but not in the sample sheet in QIita.  This
was the only sample that was allocated as a control.

On Tue, Apr 9, 2019 at 3:11 PM charles-cowart <notifications@github.com>
wrote:

--
Gail Ackermann
Knight Lab
UCSD
glackermann@ucsd.edu <ackermag@ucsd.edu>

[2019-04-09 23:56] charles-cowart commented on #323
This should be resolved before full launch.

[2019-04-09 23:58] charles-cowart commented on #327
It seems like the intent behind this issue is duplicated in more specific ones; however correct prep sheets for shotgun definitely needs to happen by full launch.

[2019-04-10 00:00] charles-cowart commented on #338
Any improvements are welcome if they help debug other issues.

[2019-04-10 00:07] charles-cowart commented on #266
As @AmandaBirmingham pointed out, a method for adding new sequencers should be present by full launch.

[2019-04-10 00:35] charles-cowart commented on #429
This looks like it will involve modifying a SQL query in db/process.py:
'...study_sample.sample_id AS orig_name...' to check if study_sample->'sample_values'.specimen_id is not null, and modifying the query appropriately.

[2019-04-10 04:08] antgonza commented on #173
@charles-cowart / @AmandaBirmingham, I think this issue can be closed, right? Currently the only outstanding issue from the list is https://github.com/jdereus/labman/issues/361, which is an issue by itself ...

[2019-04-10 04:11] antgonza commented on #266
Not sure this issue is an actual requirement for full launch, to put it in perspective: how often do we add a new sequencer and when do we expect to add a new one?

[2019-04-10 04:37] unique-identifier commented on #173
@antgonza the issue title is pretty broad; my guess is that there's more testing that could be done from now until full launch, even if #364, #361, and #385 are done.

[2019-04-10 04:55] unique-identifier commented on #266
@antgonza I feel like if and when it does happen, we'll totally forget to update this, if it's just buried in the code, but that is just my $0.02.

[2019-04-10 18:51] AmandaBirmingham commented on #266
Yes, we could get away with going to full launch without this ... but we DO need to do it at some point.  I mean, we can put it off till the next milestone after full launch (what is that, by the way?) but we can't just dump it to "nice to have" bc as @charles-cowart points out, there is a strong chance we'll forget about it if it isn't standing in the way of achieving some milestone.

[2019-04-10 19:09] AmandaBirmingham commented on #173
So far, I am not convinced that this is done.  Below is the description I have of what stress testing was going to be done; if these steps have been done, can someone mine the info on them out of whatever email trail they ended up in and put them here?  If not, can we discuss why we no longer plan to do this work before we close this issue?

From Charlie, Amanda, Daniel meeting 03/19:
 We were ask

[2019-04-10 19:13] AmandaBirmingham commented on #312
Agree this is Nice to Have.  However, we should be very cautious about dropping interface clarification issues "because the lab is familiar with the interface". New people come into the lab, and I can almost guarantee they will not be extensively trained in using the LabControl interface!  Therefore, we need to make the interface as self-explanatory as possible.

[2019-04-10 20:02] charles-cowart commented on #312
good point!

[2019-04-10 20:53] charles-cowart commented on #290
Greg and Rodolfo confirm that there is a current benefit to using the external program as an independent check. Having the external program calculate the regression curve and concentrations also allows other potential LC users to have the freedom to use other software for this.

[2019-04-10 21:12] charles-cowart opened #447 "Manually advance combo index dialog"
Rodolfo mentioned that there are times where an extraordinary sample, one that does not get put into LC, will nonetheless require unique primer combos. As Labcontrol won't be aware of these, the combo index won't be advanced. At some point there will need to be a method to resolve this issue, perhaps with a dialog to manually advance the combo index by some multiple of an n-well plate.

[2019-04-10 21:15] charles-cowart commented on #415
Narrowing the scope of this issue, per conversation w/Rodolfo. There remain other relatively small issues w/Shotgun workflow, but primer allocation has been confirmed to be in sync.

[2019-04-10 21:15] #415 closed

[2019-04-10 21:17] #290 closed

[2019-04-10 21:52] AmandaBirmingham commented on #302
I think this is very likely to be a point of confusion for new users going forward, even if the current users have gotten used to this (really quite nonstandard) behavior, and I think that it could be clarified with just some wording additions in the html.  Therefore I am reopening this and moving it to nice to have.  I am ok if we want to remove it from the full launch milestone.

[2019-04-10 22:03] AmandaBirmingham commented on #362
@antgonza To clarify, I don't think the target audience for this feature is devs--devs can look straight into the db and find the info there.  In my view, this is pointed squarely at the users: we are building this system to allow the wet lab to easily record their actions, but in some cases (e.g. this issue) we record the info but then don't allow them to ever go back and see their records :-/  M

[2019-04-10 22:14] AmandaBirmingham commented on #227
Original issue name was "Add host_taxon_id to sample sheet".  Updated to "Add ENV_package to sample sheet" based on https://github.com/jdereus/labman/issues/227#issuecomment-391510787 above.

[2019-04-10 22:16] AmandaBirmingham commented on #342
Agree this is nice-to-have, not currently must-have

[2019-04-10 22:19] AmandaBirmingham commented on #387
The wet lab is unlikely to ask about this because they don't need it--rather, this is info that is needed and used by Gail downstream of them.  Do we have a milestone after full launch we could add this to?  I think we can justify not requiring this for full launch, but it is really more urgent than most of the must-haves!

[2019-04-10 23:15] AmandaBirmingham commented on #267
I checked the usages of this method in the codebase, and I agree that erroring if all component types aren't the same should be fine.

[2019-04-10 23:23] AmandaBirmingham commented on #327
If this issue is duplicated by more specific ones, go ahead and link them here.  I am not aware of anyone having done the work to get detailed specifications for the shotgun prep sheet that Gail has signed off on.

[2019-04-10 23:28] wasade commented on #405
I've been trying to work through this issue. I think the jQuery calls for testing terms need to be modified to pay attention to the HTTP status codes spit back by the API, which I believe requires performing AJAX calls instead. The code for the queries is [here](https://github.com/jdereus/labman/blob/master/labman/gui/static/js/plateViewer.js#L647-L674).

However, I so far have not been successful

[2019-04-11 18:58] AmandaBirmingham commented on #361
@antgonza per above, in maptest.ucsd.edu, go to "Pool library plates" page, add multiple 96-well plates, and click the "compute pool values" button.  In my experience, it doesn't matter which plate type (amplicon or shotgun) is selected, or which pooling function (minimum or equal volume), or what robot is selected.  In my tests, I have left all other values as default.

HOWEVER, as noted in the b

[2019-04-11 20:04] AmandaBirmingham commented on #439
Per discussion with @charles-cowart and @wasade : discard of actual, physical plates should be very rare (see below) and the tech team anticipates that discard of purely "virtual" plates (e.g. those referenced in this issue, where a LabControl record is being discarded but no physical plate is being discarded) should ALSO be very rare after testing is complete.

Therefore, during testing, @charles

[2019-04-11 20:07] AmandaBirmingham commented on #77
Note per discussion with @charles-cowart  and @wasade  today: If/when we implement this functionality (particularly the descent functionality), we would then have the necessary logic to check whether a plate can be renamed (plates that have no descendants of any of their wells can safely be renamed).  However, note that @wasade  notes that multiple users could be using LabControl at the same time,

[2019-04-11 20:12] AmandaBirmingham commented on #405
Note: whoever fixes this, see if the fix approach can also address the underlying issues in https://github.com/jdereus/labman/issues/385 which is technically closed but only because a kludge was implemented.

[2019-04-11 20:17] AmandaBirmingham opened #449 "Remove duplication of plate creation date info in db"
https://github.com/jdereus/labman/pull/412 introduced a new creation_timestamp column into the labman.plate table.  Technically, this is a duplication of data: plate creation dates are already stored in the db as the run_date of the *process* that created the plate. If we ever have time, we may want to clean this up.

Note this is the same sort of issue as that described in https://github.com/jder

[2019-04-11 20:37] AmandaBirmingham commented on #246
It appears to me that the change that was made in the linked PR adds the plate creation date to the plate list page--but that is not where the users actually pick plates for use in any stage of the LabControl processes.  The actual selection of plates to use for gdna extraction, library prep, pooling, etc, happens in javascript. And that javascript is duplicated in *seven different locations* (see

[2019-04-11 23:35] AmandaBirmingham commented on #445
... but Gail prefers that they be split into two sheets, according to the email thread archived below [emphasis mine], and as I understand it she is the primary consumer of the preparation files.  Please make sure to get her buy-in before doing any such merging.

ALSO, keep in mind that there is not really "one [file] for blanks, and the other for samples": there is one file per study that is in t

[2019-04-11 23:50] charles-cowart commented on #445
Ah of course, thanks for the clarification! That is true, there can be multiple Studies in a preparation. My understanding based on recent meetings with Gail is that she thought it was okay for right now, but in the future it would be nice if they were merged. I will confirm, thanks!

[2019-04-12 22:31] AmandaBirmingham commented on #443
Amanda's notes from miniPCR protocol discussion re LabControl
Charlie, MacKenzie, Amanda, Gail 04/12/2019

MiniPCR: kind of combination of 16s and shotgun

plate samples individually in 96well plates just as with amplicon
extract dna just as with amplicon
plate consolidation--same as shotgun protocol (compress gdna plates)
PCR: need to do prepare amplicon libraries but with a compressed plate (384

[2019-04-12 23:02] AmandaBirmingham commented on #444
We may have more info about what happened here, as a side-effect of today's meeting re miniPCR; below are my notes of what I heard from MacKenzie:

Ran through a single plate (HNRC) that was part of a bigger sequencing run, but only uploaded HNRC to LabControl, but didn't run Prepare Amplicon Sequencing Pool.  Note: were still offered options to download sample sheet and prep sheet, but they were

[2019-04-13 00:03] AmandaBirmingham opened #450 "Running labman config to create config file fails because ... config file doesn't already exist?"
Tried to run `labman config` to create a config file for an environment that does not currently have one (either in `~/.labman.cfg` or in some other location specified by `environ['LABMAN_CONFIG_FP']`) and got this error:

[code]
So ... I can't make a config file because I don't already have a config file?  I see that for travis this is not a problem as the .travis.yml copies the test config to ~/

[2019-04-15 17:09] AmandaBirmingham opened #453 "Change labman start command from start_webserver to start-webserver"
This commit
https://github.com/jdereus/labman/commit/661b5cada2faf5bc717da85aff5e9ba410a67425#diff-04c6e90faac2675aa89e2176d2eec7d8

changed the README.md to say labcontrol is started with the command `labman start-webserver`.  However, running that command with the current master gives

[code]

The actual command apparently remains `labman start_webserver` (which is what runs successfully): https

[2019-04-15 17:16] antgonza commented on #453
I _think_ this is a click version "feature", my guess is that locally you have an older version of click, try: `pip install -U click` and try again ...

[2019-04-15 17:23] AmandaBirmingham commented on #453
Hmm, should it matter if I update through `pip` or `conda`?  In my `labman` conda environment, I ran

`conda update -n labman click`

which then updated the following packages:

`click: 6.7-py36_0 --> 7.0-py36_0`

However, when I run `labman start-webserver`  I still get the error

[code]

I also note that `.travis.yml` is using `start_webserver` (with the underscore):

https://github.com/jdereus/

[2019-04-15 17:32] antgonza commented on #453
Thanks for the extra info. Now, I don't know what's going on. Click latests is 7.0, so that's correct. Weird ...

[2019-04-15 18:09] AmandaBirmingham commented on #438
TL;DR: change

https://github.com/jdereus/labman/blob/a6777cc8b29946c06599b5d3e78a5aeaf4541427/labman/db/process.py#L2559

to

`return PoolingProcess._format_picklist(vol_sample, max_vol_per_well)`

and this problem should be fixed.  Explanation below.

------------------------------------------

I believe Rodolfo pointed us on the right road here with his reference to the variable name max_vol_pe

[2019-04-15 18:26] AmandaBirmingham commented on #438
From: Rodolfo Salido
Date: Monday, April 15, 2019 at 11:18 AM
To: "Birmingham, Amanda"
Cc: Charles Cowart , Daniel McDonald
Subject: Re: Shotgun Libraries pooling.

Hello Amanda,
We don’t need this parameter to be editable, we can have it hardcoded. Karenina has been using 20µL as her default and I’ve been pooling 30µL. We changed it from 60µL to a lower 20-30 µL because we changed destination pla

[2019-04-15 18:42] AmandaBirmingham opened #454 "Capture max_vol_per_well from GUI and store in DB somewhere"
Related to https://github.com/jdereus/labman/issues/438 .

Rodolfo has said that he is ok with hard-coding the max_vol_per_well value to 20 µL for the shotgun pooling (echo picklist creation).  However, this makes me distinctly nervous: the lab has changed the max_vol_per_well value in the past (e.g., "We changed it from 60µL to a lower 20-30 µL because we changed destination plates and the newer

[2019-04-15 20:05] AmandaBirmingham commented on #428
Ahahahahaha ... the sins of the past come back to bite us.  The two samples that were output in the control sheet instead of the AGP study sheet are the two samples in the test data that AREN'T in the AGP study in qiita: 10317.00074373 and 10317.000059094 (see email below).

The way the code decides what goes on the "blanks" prep sheet is by checking if the item in question has a sample id AND a s

[2019-04-15 20:46] wasade commented on #428
Agree. LabControl shouldn't be guessing

On Mon, Apr 15, 2019 at 1:05 PM Amanda Birmingham <notifications@github.com>
wrote:

[2019-04-15 21:47] AmandaBirmingham commented on #447
I get the sense Greg would like this to be a higher priority than "nice to have", per the email exchange below:

From: Greg Humphrey
Date: Monday, April 15, 2019 at 2:43 PM
To: "Birmingham, Amanda"
Cc: Charles Cowart, Karenina Sanders, Rodolfo Salido, Daniel McDonald
Subject: Re: URGENT LabControl Issue Metagenomics

Hi Amanda,

Yes, I think that is a good quick fix.  However, I would like the wet

[2019-04-15 22:03] antgonza commented on #361
@AmandaBirmingham, thanks for the explanation. Looked at the logs and seems like this is the actual error:
[code]
and so far these are the plates that have raised that error:
[code]
Just as a confirmation, do any of this match the one that failed out of the 4 tests you did?

[2019-04-15 22:23] charles-cowart commented on #447
Done! I'll make this a deliverable for full launch right away, thanks!

On Mon, Apr 15, 2019 at 2:48 PM Amanda Birmingham <notifications@github.com>
wrote:

[2019-04-15 22:28] AmandaBirmingham commented on #361
Hmmm, of these, plate 246 could have been one of the ones I tried.  Interestingly, the 500 errors you highlight above are different than the 504 ("gateway time-out") errors that originally spawned this issue.  I think that maybe we need to address @wasade 's comment on https://github.com/jdereus/labman/issues/405 : " I think the jQuery calls for testing terms need to be modified to pay attention t

[2019-04-16 02:46] ackermag commented on #428
But knowing which samples are not in is helpful for me.

On Mon, Apr 15, 2019 at 1:46 PM Daniel McDonald <notifications@github.com>
wrote:

--
Gail Ackermann
Knight Lab
UCSD
glackermann@ucsd.edu <ackermag@ucsd.edu>

[2019-04-16 05:46] AmandaBirmingham commented on #428
@ackermag I can see how that would be the case; the question I have is, how do you want to FIND OUT which samples are not in qiita?  Right now, any sample that shows up in the blanks mapping file is definitely NOT in qiita--which is one way of finding that fact out :)  If you would prefer another, please let us know what you have in mind and we will see if LabControl has the info to do it.

[2019-04-16 14:33] ackermag commented on #428
Since this is AGP - the sample information is not yet uploaded to Qiita.  LC accesses the LabAdmin database to see if samples are valid.  Some samples are invalid even though all appears normal because they can't be pulled down (metadata).  Seems like it is an AGP bug.

[2019-04-16 14:38] wasade commented on #428
We have only tested the push from labadmin to qiitarc not to qiita, which
is what labcontrol accesses. Qiita does not yet get metadata at time of
scanning in labadmin.

On Tue, Apr 16, 2019, 7:33 AM Gail Ackermann <notifications@github.com>
wrote:

[2019-04-16 17:00] AmandaBirmingham commented on #428
@ackermag @wasade It is my understanding that once the labadmin-to-qiita push is in place, this issue of experimental samples not having made it into qiita SHOULDN'T be happening anymore.

HOWEVER, life seems to be one long series of things that SHOULDN'T be happening happening anyway.  Let's assume that in the future there may still be people in the lab who insist on plating something that isn't

[2019-04-16 18:13] charles-cowart commented on #450
@AmandaBirmingham is it a blocker for you? We should resolve this before full launch in either case; doesn't seem like it should be too difficult.

[2019-04-16 18:16] ghsmu414 commented on #428
It appears these samples were consented and should have been plated, however for some reason metadata was unable to be pulled down. I believe because they are "biofilms" or some sample type/environment that is not supported. Gail and I are fine if they remain in the BLANKS output.

[2019-04-16 18:17] AmandaBirmingham commented on #450
@charles-cowart  Nope, not a blocker: the work-around is to manually do what the `.travis.yml` code does and copy the `labman/db/support_files/test_config.cfg` file to `~/.labman.cfg`.  Once it exists (even empty) then `labman config` runs like a dream.  So the quick and dirty fix would be to add a step to the install instructions saying a human needs to copy this file before running `labman confi

[2019-04-16 18:23] AmandaBirmingham commented on #428
@ghsmu414 Thank you, Greg!  I figured there must be some reason these samples weren't playing by the rules :) In my opinion it is extremely useful and important to identify these edge cases because they highlight the places where the assumptions built into LabControl (and qiita) break down.

[2019-04-16 18:30] RodolfoSalido opened #456 "Lab Control Plate samples workflow character restrictions impede sample matching to sample identifier."
When plating iMSMS project (11326), which has column 'Tube_ID' as sample identifier, Lab Control GUI character restrictions make it impossible for one to match the 'Tube_ID' value because 'Tube_ID' is not character restricted.

For more context, the iMSMS project provided plate maps with some samples with special characters. These were captured in the metadata column 'Tube_ID'.

<img width="1439"

[2019-04-16 18:36] charles-cowart commented on #430
High priority as it reflects what wet-lab has deemed proper output.

[2019-04-16 18:53] charles-cowart commented on #430
In samples and controls files this column is named 'INSTRUMENT_MODEL'.

[2019-04-16 18:57] antgonza commented on #430
In case it helps: https://github.com/biocore/qiita/blob/master/qiita_ware/ebi.py#L93

[2019-04-16 18:57] charles-cowart commented on #430
This will also require changes to the EXPERIMENTAL_SAMPLES_PREP_EXAMPLE expected data string in unit tests. This should be done after https://github.com/jdereus/labman/issues/429 is merged.

[2019-04-16 19:00] charles-cowart commented on #443
Low priority in this case means that this should be worked on after other issues for Full Launch have been addressed.

[2019-04-16 19:04] charles-cowart commented on #430
Thanks Antonio!

On Tue, Apr 16, 2019 at 11:57 AM Antonio Gonzalez <notifications@github.com>
wrote:

[2019-04-16 19:21] RodolfoSalido opened #457 "Normalization workflow minor changes. (Volume units, default values)"
### Minor changes to metagenomics input normalization workflow.

- The default parameter for the 'Min Volume' field in the input normalization workflow for metagenomics should be 25 and not 2.5 in order to match our Jupyter notebook default parameters.
<img width="1181" alt="Screen Shot 2019-04-16 at 12 10 59 PM" src="https://user-images.githubusercontent.com/13193891/56237761-9cb8ac80-6041-11e9-8

[2019-04-16 19:23] antgonza commented on #457
@RodolfoSalido, Looking at the 2 screenshots, is it possible that resolution (2.5 in notebook) is not present in GUI and min_vol is fine (25 in both)?

[2019-04-16 19:30] RodolfoSalido commented on #457
I didn't do the best job with my screenshots, I apologize. The GUI does have resolution parameter too. Here's a screenshot of Lab Control's normalization workflow default parameters.
<img width="1226" alt="Screen Shot 2019-04-16 at 12 29 15 PM" src="https://user-images.githubusercontent.com/13193891/56238438-654aff80-6043-11e9-872a-f0ec62ba65a8.png">

[2019-04-16 19:32] antgonza commented on #457
@RodolfoSalido, thank you for confirming.

[2019-04-16 19:33] charles-cowart commented on #431
Confirmed Project_name column is empty in controls output. @ackermag says we can pull project_name 'Palmer_11479' from the sample_plate column ('Palmer_11479_Plate_1') for now, if need be (ignoring case where two projects are on the same plate.) Note samples file does have a populated Project name column ('Palmer GWAS, SG_B0014')

[2019-04-16 20:03] AmandaBirmingham commented on #447
Two requests:
1) The ability to reset this value should be limited to user with admin privileges.
2) Since resetting this (incorrectly) could really screw up LabControl, we really need to track who reset it and when.  NOTE: The canonical way of doing this within LabControl would be to have create a Process for "resetting combo index"; Processes automatically have run date and user attached to them

[2019-04-16 22:38] charles-cowart commented on #453
I noticed this too a while back. IMHO, there's something to be said for having a more uniform command line interface across the software products. It removes surprise during deployment, and looks professional. What about 'labcontrol webserver start' ?

[2019-04-16 22:49] charles-cowart commented on #424
@wasade Just to clarify, I believe we're going to rollback the creation_timestamp change, correct? If so, we can close this issue out as moot, won't-fix.

[2019-04-16 22:55] wasade commented on #424
:+1:

[2019-04-16 22:55] #424 closed

[2019-04-16 22:56] charles-cowart commented on #430
Consider doing in conjunction w/ https://github.com/jdereus/labman/issues/431, so that the expected data only has to be modified once.

[2019-04-16 23:24] charles-cowart commented on #454
Agreed - For provenance's sake, it's better to record the value for the reasons you mentioned. There shouldn't be any pain for the wet-lab if we have a default value of 20 that in the end never gets changed.

[2019-04-16 23:46] wasade opened #458 "404s and a DataTables reinitialization error on /process/normalize"
In the process of understanding issue #323 I observed multiple 404 errors on the plate normalization page. From an investigation of the [handler logic](https://github.com/jdereus/labman/blob/master/labman/gui/handlers/plate.py#L125-L128) throwing the 404, it is not obvious if the 404 is expected although after futzing with it more I believe 404s are expected here to denote that the name does not e

[2019-04-16 23:48] wasade commented on #323
It doesn't seem there are unit tests in place for the reformat. The offending code for the issue is I believe [here](https://github.com/jdereus/labman/blob/master/labman/db/process.py#L1166-L1174). Just noting to help reduce the search process when tackling this issue.

During investigation, a potential bug was observed surrounding the adding of plates on this page, now noted in #458.

[2019-04-16 23:49] charles-cowart commented on #323
Thanks! (Note link is now here: https://github.com/jdereus/labman/blob/master/labcontrol/db/process.py#L1166-L1174)

[2019-04-17 01:04] AmandaBirmingham opened #460 "Unit tests no longer work with default qiita install"
As of PR https://github.com/jdereus/labman/pull/409 , the `labman/db/testing.py` (now `labcontrol/db/testing.py`) `reset_test_db` method requires the qiita client to be running on "https://localhost:8383", NOT (as previously) on the default "https://localhost:21174":

<img width="1019" alt="Screen Shot 2019-04-16 at 5 54 04 PM" src="https://user-images.githubusercontent.com/10677935/56253491-6eeb5

[2019-04-17 19:11] #429 closed

[2019-04-17 21:10] charles-cowart commented on #394
We'll need to make sure the labman references in https://github.com/jdereus/labman/blob/master/docs/index.rst are changed as well, since they're being used as the Help menu docs in LabControl.

[2019-04-17 21:31] #284 closed

[2019-04-17 22:29] charles-cowart commented on #220
@AmandaBirmingham @wasade No movement on this in 8 days - would it be better to debate it here or have a meeting over it?

[2019-04-17 22:30] charles-cowart commented on #220
Making it a high priority, at least w/respect to making a decision.

[2019-04-17 22:31] charles-cowart commented on #439
Will touch base w/MacKenzie again on this issue.

[2019-04-17 22:32] charles-cowart commented on #293
Tentatively moving to Nice To Haves.

[2019-04-17 22:35] charles-cowart commented on #447
For the near-term, wet-lab is willing to let us know when the combo index must be manually advanced. Hence, this feature is lower priority than the others for Full Launch, but still very much a feature that should be added as soon as possible.

[2019-04-18 01:22] wasade opened #466 "TypeError on Pool Library Plates: data.join is not a function"
To recreate:

1) select Pools -> Pool Library Plates
2) select a plate type

Offending line of code is [here](https://github.com/jdereus/labman/blob/master/labcontrol/gui/templates/library_pooling.html#L377).

<img width="1700" alt="Screen Shot 2019-04-17 at 6 19 11 PM" src="https://user-images.githubusercontent.com/474290/56330589-8728ad00-613d-11e9-8750-1cec2803b24a.png">

[2019-04-18 01:34] wasade commented on #466
This error is appearing now on a few pages, including "Plate -> Prepare Amplicon Libraries" and is no longer listing plates. It seems as though something about the state of my database is off, but there isn't an indication anywhere as to what that might be. Other plate listings (e.g., "Plates -> List") works as expected and has plenty of plates across the different types.

I blew away my test data

[2019-04-18 01:47] charles-cowart commented on #431
The code strongly suggests that study.study_alias is blank for controls:

study.study_alias AS project_name

result['project_name'] isn't touched in any way, until the column name is changed to 'Project_name'. I thought this was worth making a note of. At least for the short term, we'll probably have to copy and modify the value in the 'sample_plate' column.

[2019-04-18 01:48] AmandaBirmingham commented on #466
@wasade Not to worry!  I actually fixed this today during my work on #351 but have not put into PR yet :)

This error was introduced by https://github.com/jdereus/labman/pull/412, which added plate creation dates to the data returned by the PlateListHandler (/plate_list) and updated  plate_list.html to expect this new date but did not update the javascript on the 7 other pages that also consume /p

[2019-04-18 02:02] wasade commented on #466
Ah okay, thank you! Am quite excited for #351! Are you alright leaving this open until that PR is merged?

[2019-04-18 16:56] charles-cowart commented on #439
MacKenzie does not need plates removed at this time. It's useful that we had this discussion, in case this situation appears again; however, since there are no plate names to recover at this time, I will be closing the issue.

[2019-04-18 16:56] #439 closed

[2019-04-18 17:09] #355 closed

[2019-04-19 04:04] AmandaBirmingham commented on #458
So, I believe I can diagnose this.  The 404s are a red herring: as @wasade concluded, 404 is the expected and acceptable response to looking up a plate name that doesn't exist (and just tells the page that plate name is in fact available for use).

Neither is the DataTables error the "real problem".  The real problem is adding the same plate twice, which is a no-no--that and the fact that the inte

[2019-04-19 04:55] AmandaBirmingham commented on #460
Fixed in https://github.com/jdereus/labman/pull/461

[2019-04-19 04:55] #460 closed

[2019-04-19 04:59] AmandaBirmingham commented on #428
Per discussion above, the samples were not "mistakenly" allocated to control mapping file, but went there because they weren't part of any study in qiita, and @ackermag  and @ghsmu414  have approved this approach.  Therefore, until/unless the stakeholders change their minds or testing reveals a case of this happening for a sample that is actually assigned to a study in qiita, this is being closed

[2019-04-19 04:59] #428 closed

[2019-04-19 17:38] AmandaBirmingham commented on #416
TL;DR: This is a shortcoming in the db population scripts for our dev environments and not a bug in "real" LabControl instances.  We can fix it the hard way by changing the dev db population script (and then the hard-coded ids in practically every freaking unit test) or we can fix it the easy way by changing our policy on how many primer sets of each kind the dev environment really needs to exerci

[2019-04-19 17:45] wasade commented on #416
That is frustrating, thank you for tracking down @AmandaBirmingham. I'm inclined for (b) as well. I think the lower-effort fix here makes sense. This is not ideal, but absolutely agree that it is difficult to justify the developer expense to resolve this for a dev environment.

[2019-04-19 18:07] AmandaBirmingham commented on #416
@charles-cowart  Please holler *now* if you DISAGREE with option (b) discussed above.  Otherwise I'ma redefine this issue to be moving 18S and ITS primer set definitions into the production db set-up sql.

I believe this is the right decision in part because I checked the history, and 18S and ITS were historically NOT part of the LabControl dev environment--they only came in shortly before soft la

[2019-04-19 18:11] antgonza commented on #416
Agree on b; only suggestion will be to add this to the CHANGELOG or somewhere in case future devs need to figure out this decision. BTW do LabControl have a CHANGELOG and is it up to date?

[2019-04-19 18:12] AmandaBirmingham commented on #416
As far as I know, LabControl does not have a CHANGELOG.

[2019-04-19 18:25] charles-cowart commented on #416
No disagreements w/option b. I'll add a CHANGELOG.

[2019-04-19 18:28] AmandaBirmingham commented on #205
@jdereus I'm trying to figure out how to address this issue in LabControl and I think I first need help from you to understand it better!  Could we possibly meet in person for 10-15 minutes sometime soon?

[2019-04-19 21:45] charles-cowart commented on #394
Just to keep track, https://github.com/jdereus/labman/pull/459 also touched on this issue.

[2019-04-19 23:34] AmandaBirmingham commented on #444
Hoo doggies--I tracked this one down.  The issue is reproducible: go to "Sequencing runs" > "Prepare sequencing run" and select *any amplicon library plate pool* (not an amplicon sequencing pool).  Create the sequencing run (which works just fine) and then go to "Sequencing runs" > "List" and click on the "Download Preparation Sheets" button next to the new sequencing run you just created.   A zip

[2019-04-19 23:59] AmandaBirmingham commented on #456
The cause of this behavior is in `/labcontrol/gui/static/js/plateViewer.js`'s `this.applyValue` function:

https://github.com/jdereus/labman/blob/645c798e0094e9962973c2d111c4860b1e8e5b23/labcontrol/gui/static/js/plateViewer.js#L608

This line strips out all whitespace.  Note, however, that even if it didn't, the subsequent lines

https://github.com/jdereus/labman/blob/645c798e0094e9962973c2d111c48

[2019-04-22 17:06] ElDeveloper commented on #456
@AmandaBirmingham, from looking at the UI code that sounds right to me. However, I would advise that someone checked if any other component of the project expects this type of validation (for example the code that submits the request to add the data). And other than that, I would try to figure out why was this added i.e. if this was expected or if it is a common use-case when plating "certain type

[2019-04-22 23:15] wasade opened #470 "Duplicate name testing is not asserted on prepare shotgun libraries"
The library plate name is automatically pulled from the plate name. If this name already exists, the box surrounding the name is red and includes a red X. However, it is still possible to click prepare libraries, and when doing so (with a name that already exists), a traceback results.

![shotgun_library_prep](https://user-images.githubusercontent.com/474290/56539112-c417e980-6519-11e9-8b20-d9a6a2

[2019-04-22 23:24] wasade opened #471 "Uncaught error when accidentally specifying incorrect primer plates"
If a user selects an i7 plate for "Select i5 primer plate" and a i5 plate for "Select i7 primer plate", an exception occurs.

Traceback is as follows

[code]

![shotgun_library_index_juggling](https://user-images.githubusercontent.com/474290/56539470-e1998300-651a-11e9-83d1-b33e138b5a86.gif)

[2019-04-22 23:30] wasade opened #472 "Are transactions rolled back during failure?"
While observing #470 and #471, it became apparent that transactions may not be honored as expected. In the attached .gif, two plates are added for prepare shotgun libraries. The first plate is added with the correct primer plates and the name "FOO", while the second one has the primer plates juggled and uses the name "BAR". An exception occurs, as described in #471 because the primer plates for "B

[2019-04-22 23:45] AmandaBirmingham commented on #471
So ... this suggests to me that https://github.com/jdereus/labman/issues/372 , "Limit i5/i7 primer plate selection in shotgun library prep to relevant working primer plates" was closed prematurely, since it appears that users still have options to select working plates that don't meet the specifications of the dropdown label and the back-end handler.  Will reopen that issue and merge with this one

[2019-04-22 23:46] AmandaBirmingham commented on #471
Closed as a knock-on effect of #372

[2019-04-22 23:46] #471 closed

[2019-04-22 23:55] wasade opened #473 "gDNA page blocks the webserver without UI indication"
While working through testing of #468, I added a plate on the gDNA plate extraction page. This took about 30 seconds to do, with high observed load on postgres (less so on the python process). During this time, the webserver was unresponsive, demonstrated by the subsequent portion of the .gif below where plates are added followed by attempts to navigate away from the page.

My test database has an

[2019-04-23 00:10] wasade opened #474 "Unselected plates get added when pooling"
In the attached .gif, a single amplicon plate is added during pool library plates (plate "Amplicon test plate 2019-04-22 15:47:49.390417"). This plate is then removed using the X, and does not appear to be visible. I then switch to adding shotgun plates, and add a single plate (named "Test Shotgun Library 2019-04-22 15:50:10.818223"). Following this, the display shows two plates: the shotgun plate

[2019-04-23 00:15] AmandaBirmingham commented on #472
So-o-o-o ... I tracked this down, and either this is a BIG problem in the way the code is architected or it is a SMALL problem in the way the process is described to the user via the interface; let's hope the latter.

This issue stems from the fact that although the interface allows the user to select multiple plates to prep from the same screen, the preparation of each plate is in fact tracked as

[2019-04-23 00:20] wasade opened #475 "Exception when preparing an amplicon library with a 384 well plate"
In my test environment, I have amplicon 384-well plates. It appears that the prepare amplicon libraries page is not presently validating that the primer plates have the same number of wells. I'm not sure if we ever want to do 384 well amplicon plates, but we may want to have validation here to disallow the user from doing something they shouldn't be able to do.

I can't remember if this is a dupli

[2019-04-23 00:28] AmandaBirmingham commented on #472
Btw, the reason I say that if this is an architecture problem, it is a big one is because this same pattern (looping over the creates) is used in a BUNCH of the process handlers:

https://github.com/jdereus/labman/blob/645c798e0094e9962973c2d111c4860b1e8e5b23/labcontrol/gui/handlers/process_handlers/gdna_extraction_process.py#L76-L89

https://github.com/jdereus/labman/blob/645c798e0094e9962973c2d1

[2019-04-23 00:30] AmandaBirmingham commented on #472
Finally, for institutional memory, here is background from my email archives on the "separate processes" architecture choice:

From: Jose Navas
Date: Tuesday, January 23, 2018 at 3:59 PM
To: "Birmingham, Amanda"
Subject: Re: Concern about change to the Labman db schema

That is an actual valid representation of the data, I did not think about it.

The way I thought about the process is that the wa

[2019-04-23 00:31] wasade opened #476 "Viewing multiple plates locks up the webserver"
On `maptest`, this results time out pages of various types. On a `localhost`, this ties up postgres for minutes and leads the webserver to be unresponsive. To reproduce, go to the plate listing, and open a new tab for a few plates.

![multiple_tabs](https://user-images.githubusercontent.com/474290/56542764-53c29580-6524-11e9-8c06-b265935c4684.gif)

[2019-04-23 16:59] antgonza commented on #227
I _think_ I can address this one; however, I'm a little concern about

[2019-04-23 17:02] antgonza commented on #227
Hit send by mistake, sorry!

Anyway, I'm a bit concern about env_package and in specific 'host-associated' (a valid env_package that can also mean human AFAIK); @ackermag, what do you think? Should we also add `host_taxon_id`? The only thing is that the "automatic" human removal will need to check those 2 fields and make a decision about it ...

[2019-04-23 18:15] AmandaBirmingham opened #477 "Compression page allows user to add 5 plates (instead of 4) which causes downstream error"
Identified by @wasade  in https://github.com/jdereus/labman/pull/468#issuecomment-485601425 but verified to occur in master as well, and not to require adding plates fast.

Issue has been diagnosed: toggleAddPlate function is being called after plate info is queried from the database and not, as it should be, after a plate has been added.   Fix (verified in local dev environment) is to change this

[2019-04-23 18:18] ackermag commented on #227
The env_package is only host_associated if the host is not human.  For unspecified human the entry is human-associated not host-associated.  Note - this is in metadata not on the study set up page in Qiita where it is possible to choose multiple options and people often choose host-associated and human-associated, human-gut etc.  Hope this is clear.

[2019-04-23 18:23] charles-cowart commented on #476
Although I agree that LC should be able to handle multiple users and/or plates in general, are we expecting one or more users within the lab to be viewing multiple plates at a time?

Making this a bug, and making it high priority that we at least set what the expectation is for this behavior.

[2019-04-23 18:26] charles-cowart commented on #474
I believe this is a known issue with the asynchronous callback. If you're a twitchy clicker, you can also get the same plate twice if you double click fast enough.

[2019-04-23 18:29] charles-cowart commented on #473
It seems like if the page is waiting for a response for the first plate getting plated, it should at least disable the Add new plate button.

[2019-04-23 18:40] charles-cowart commented on #472
IMHO, I wouldn't call it an architectural issue so much as it's a bad pattern that's just repeated many times. I would propose just informing the user of all the failures, or removing the ability to do multiple plates on a single screen.

[2019-04-23 18:46] jdereus commented on #205
from what i can tell, this is just the fact that blanks also must be uniquely named.  not just samples.

if we need to get together to discuss, that's fine.

[2019-04-23 18:49] josenavas commented on #472
Just to provide an alternative and the decision is to make all the process handlers work as a transaction, it is easily achievable using a decorator as it is done in qiita:

https://github.com/biocore/qiita/blob/master/qiita_core/util.py#L115-L122

[2019-04-23 18:55] charles-cowart commented on #472
@josenavas Thanks! I'm surprised we aren't doing that already. I should take another look at the db layer.  However, that would still mean that potentially 2-3-4 good plates are going to fail if another plate fails. It doesn't seem like we're sure yet whether we want this to happen.

[2019-04-23 18:56] AmandaBirmingham commented on #472
@charles-cowart I think you've put your finger on it: a key problem here is that I'm not sure what the most desirable functionality actually IS.

[2019-04-23 19:13] AmandaBirmingham commented on #472
@josenavas Thank you!  Since you're here :) , I would really appreciate your help understanding how the `TRN` singleton from `sql_connection.py` acts when it is used in nested calls.

Specifically, I see that in `process.py`, the specific processes' `create` methods do all their work within a `TRN` context manager, like this:

https://github.com/jdereus/labman/blob/645c798e0094e9962973c2d111c4860b

[2019-04-23 20:17] charles-cowart commented on #472
@AmandaBirmingham the TRN object is a singleton: https://github.com/jdereus/labman/blob/645c798e0094e9962973c2d111c4860b1e8e5b23/labcontrol/db/sql_connection.py#L839

And I believe the singleton keeps a queue where all SQL statements are stored before being executed in within a transaction:
https://github.com/jdereus/labman/blob/645c798e0094e9962973c2d111c4860b1e8e5b23/labcontrol/db/sql_connection

[2019-04-23 20:38] AmandaBirmingham commented on #472
@charles-cowart :

Yup, I got that :) The question I have is about the action of the `TRN`'s context manager functionality, which I *think* is defined here:

https://github.com/jdereus/labman/blob/645c798e0094e9962973c2d111c4860b1e8e5b23/labcontrol/db/sql_connection.py#L228-L230

As far as I can tell, the last step in this context manager method is to execute the queries AND COMMIT THEM by running

[2019-04-23 20:50] josenavas commented on #472
@charles-cowart that's the correct intuition. Note, however, that Transaction is the custom code that we wrote, since writing transactions with the raw PostgreSQL was getting complex and not friendly with our OOP approach.

TRN is a context manager and it keeps track of the number of contexts entered:
https://github.com/jdereus/labman/blob/645c798e0094e9962973c2d111c4860b1e8e5b23/labcontrol/db/sql

[2019-04-23 21:02] charles-cowart commented on #472
@AmandaBirmingham :D My apologies - you're right! - that really does look like it's committing once we leave the scope of the first 'with' block.

@josenavas Thanks for your explanation Jose - it sounds like a good way to verify the behavior is what we want is to review and likely augment the unit tests for the sql_connection code. IMHO, this layer of coding seems like what would ordinarily be han

[2019-04-23 21:04] AmandaBirmingham commented on #472
Thanks, @josenavas , that explanation is extremely helpful!

[2019-04-23 21:38] AmandaBirmingham commented on #474
@charles-cowart  No, this is definitely something different--it is adding plates *that were never clicked on*, ever!

@wasade  Did you observe this issue in the current master or in PR https://github.com/jdereus/labman/pull/468 ? I can reproduce it in the PR but not in the master, which makes me think this is not an existing issue but a bug in the (unmerged) PR (thank you for the thorough testing!

[2019-04-23 21:45] charles-cowart commented on #474
Gotcha, I'll check too with the unmarked PR

[2019-04-23 21:46] wasade commented on #470
A slight twist on this: if a user enters the same name for multiple plates, it is allowed but triggers a traceback.

![duplicate_name](https://user-images.githubusercontent.com/474290/56618149-917ff680-65d6-11e9-99db-f1b8490bd6d7.gif)

[2019-04-23 21:51] wasade commented on #470
Note that this behavior seems present on other pages (e.g. normalization)

[2019-04-23 21:54] AmandaBirmingham commented on #474
@charles-cowart  dinna fash yersel, I believe I found the cause (and I believe this IS only in the PR).  The PR is missing this line:

https://github.com/jdereus/labman/blob/645c798e0094e9962973c2d111c4860b1e8e5b23/labcontrol/gui/templates/library_pooling.html#L383

... that was in the old `labcontrol/gui/templates/library_pooling.html` but didn't get moved into the new `setUpAddPlateModal.js`.  W

[2019-04-23 21:55] wasade opened #478 "Pool amplicon libraries allows for 0 concentration triggering an exception"
It's possible to select the down arrow when specifying a concentration. This results in the following exception:

[code]

![poolpools_error](https://user-images.githubusercontent.com/474290/56618526-b7f26180-65d7-11e9-9c3d-8cf811afcbca.gif)

[2019-04-23 21:55] antgonza commented on #227
Thanks @ackermag, it makes sense; it's a metadata per sample not per study. Just for clarify for everyone, a study can have rats, human fecal, human oral, etc; so those can be selected for the study. Then each sample has it's own env_package where it can take any value; which opens a few questions:
- What should it report if this column is not present in Qiita?
- Should the sample be plated if tha

[2019-04-23 22:01] wasade opened #479 "Should pool names be unique?"
Pool names are not enforced to be unique. In addition, the same pool can be re-pooled. A caveat of the combination of these is that the same pool name can be added to the same pool name multiple times.

![poolpools_unique](https://user-images.githubusercontent.com/474290/56618785-6bf3ec80-65d8-11e9-9753-da55230763e0.gif)

[2019-04-23 22:12] charles-cowart commented on #227
I think if the column is not present, the wet-lab should completely stop, rather than plate something they shouldn't.

[2019-04-23 22:14] wasade commented on #420
Unsure if related, but it is possible to add plates for sequencing that don't appear to have been normalized. It seems that the plates listed are not assured to be valid. Note that, for recreation, I'm adding plates that were created following the name duplication in #479 -- that may or may not be related. It seems that downloading a sample sheet is possible when using one of the test pools.

![sa

[2019-04-23 22:17] charles-cowart commented on #474
@AmandaBirmingham Aye, thank ye!

[2019-04-23 22:19] wasade commented on #474
@AmandaBirmingham, ya was within #468, sorry for not being clear about that. And good find on the underlying issue!

[2019-04-23 22:28] wasade opened #480 "Assay types are not fully centralized"
While flipping through pages, I noticed that "NewKindOfAssay" is an assay type in a test environment (added [here](https://github.com/jdereus/labman/blob/a24d46cd0a65b02d4c766f212e9e1b191fedf9e6/labcontrol/db/support_files/populate_test_db.sql#L891)). However, it is not valid across the system as it is still accessible and can result in exceptions.

I'm marking this as a nice to have issue right n

[2019-04-23 22:28] charles-cowart commented on #479
High priority to at least resolve the question. My own thinking would be yes; this seems similar to plate names effectively being unique, even though they aren't constrained as such in the schema.

[2019-04-23 22:31] wasade commented on #420
One more note here, an implication here is that a sequencing run can be created, and gets added into the list of sequencing runs, even if it is not actually possible to download the sample sheet. So in the screenshot below, IDs 194-199 are invalid as the sample sheet cannot be downloaded.

<img width="1133" alt="Screen Shot 2019-04-23 at 3 30 46 PM" src="https://user-images.githubusercontent.com/4

[2019-04-23 23:51] wasade opened #481 "Values for prepare amplicon sequencing run appear unpredictable"
The sample amounts and total concentration appears inconsistent when the same values are presented: the same DNA concentration does not appear to result in the same sample or total concentration values.

![concentration_confusion](https://user-images.githubusercontent.com/474290/56623130-d6f8ef80-65e7-11e9-89c3-e4b394d3ee0b.gif)

[2019-04-24 18:00] RodolfoSalido opened #482 "Metagenomics Sample Sheet generation introduces spaces in 'Sample_project' column."
Lab Control introduces space characters in 'Sample_Project' column because it appends the Qiita study owner. Spaces are not permitted within this column for the downstream workflows (this field specifies the directory where the demultiplexed data will be deposited).

<img width="1415" alt="Screen Shot 2019-04-24 at 10 56 57 AM" src="https://user-images.githubusercontent.com/13193891/56682166-dad85

[2019-04-24 18:13] charles-cowart commented on #479
Asking @ghsmu414 to weigh in.

[2019-04-24 18:33] ghsmu414 commented on #479
It seems like there are a few issues with this step.  You should not be able to pool from the same pool for the same sequencing run.  I am fine with a unique ID for each pool because when we have to run a pool again, we can rename it.  16S_Knight_Pool1 to 16S_Knight_Pool1_ReRun1

But I am not sure I am answering the question fully.

[2019-04-24 21:20] RodolfoSalido opened #483 "Metagenomics Sample Sheet generation assigns project blank wells to a separate folder."
Sample Sheet assigns a value of 'Controls'  in 'Sample_project' column to Blank wells. This leads to reads from Blank wells from distinct projects to get demultiplexed into one common 'Controls' folder per sequencing run independent of their respective project folders.

<img width="1354" alt="Screen Shot 2019-04-24 at 2 12 43 PM" src="https://user-images.githubusercontent.com/13193891/56694682-1b4

[2019-04-24 22:16] AmandaBirmingham opened #485 "Plate list page allows users to send unquantified compressed gdna plates to normalization page, which leads to error"
Reproduction GIF below.  On plate_list.html, user can pick *any* compressed gDNA plates and send them to the normalization.html page--but normalization can only be performed on compressed gDNA plates that have been quantified (via the parse_quantification.html page) . The normalization page prevents users from adding unquantified plates on it directly but does not catch the case where an unquantif

[2019-04-24 22:53] AmandaBirmingham commented on #481
@wasade Unless the gif above is misleading me, the focus remained on the Test sequencing pool 1 DNA conc (ng/ul) box the entire time the changes above were being made.  The other values are updated when the focus moves OFF of one of those boxes--such as when the clicks into another box (if there is more than one pool included) or goes to click on the "Pool" button.  See attached gif:

![amplicon_p

[2019-04-24 22:58] AmandaBirmingham commented on #483
@RodolfoSalido  Thank you very much for pointing this out! What value do you want to go into this column of the sample sheet for blanks?

[2019-04-24 23:05] wasade commented on #481
Oh, I see now. It looks like it updates on the first click after gaining focus, and then again once focus is lost, but not with clicks following the first one when under focus. If this is desired then we should close the issue

![concentration_confusion_2](https://user-images.githubusercontent.com/474290/56699419-3586a200-66aa-11e9-8928-41ebb9645466.gif)

[2019-04-24 23:08] AmandaBirmingham commented on #481
Hahahaha ... I think "desired" might be an overstatement :)  I'm fine with keeping this as an issue (because if it confused you it will confuse others too!) but will change the description and priority to reflect that it misleads the user but does not actually produce inconsistent results.

[2019-04-24 23:12] AmandaBirmingham commented on #483
It is coming back to me a little: this Sample_project column was the source of *huge* amounts of discussion and requirements gathering (see https://github.com/jdereus/labman/issues/204) .  Specifically, https://github.com/jdereus/labman/issues/204#issuecomment-387128070 from @tanaes said

Has this conclusion changed?

[2019-04-24 23:19] AmandaBirmingham commented on #482
@RodolfoSalido  Aha!  How would you like us to doctor the qiita study owner name in order to make it usable for downstream purposes?

[2019-04-24 23:29] RodolfoSalido commented on #483
I had a hunch that there had to be a discussion about this because it appeared to be designed.

I raised the issue because Greg thought it could be  problematic to have all blanks pooled into one folder per sequencing run. I’ve cc’ed him so he can elaborate.

-Rodolfo

Sent from my iPhone

[2019-04-24 23:39] wasade commented on #227
Is `env_package` an enforced controlled vocabulary in Qiita?

[2019-04-24 23:45] charles-cowart commented on #227
@wasade I'd need to check with @ackermag to be sure.

[2019-04-25 00:10] wasade commented on #479
Thanks, @ghsmu414!

[2019-04-25 00:20] RodolfoSalido commented on #483
Controls cannot be an output folder for metagenomics... the blanks are associated with a specific extraction and project. And these controls are project based so sometimes they are fecal and sometimes they are skin. We know there is well to well contamination so controls for each project are different.

[2019-04-25 00:53] ackermag commented on #227
It is an enforced controlled vocabulary in MiXs and enforced by me for
public studies in Qiita.

On Wed, Apr 24, 2019 at 4:45 PM charles-cowart <notifications@github.com>
wrote:

--
Gail Ackermann
Knight Lab
UCSD
glackermann@ucsd.edu <ackermag@ucsd.edu>

[2019-04-25 01:11] wasade commented on #227
Sorry, for clarification, I was wondering if the entries in this field are
enforced by the database to use specific controlled values. However, this
does answer my question -- thank you!

On Wed, Apr 24, 2019, 5:53 PM Gail Ackermann <notifications@github.com>
wrote:

[2019-04-25 01:26] wasade opened #486 "Increasing the defensiveness of the add plate modal"
This issue is a spinout of this [comment](https://github.com/jdereus/labman/pull/468#discussion_r278258070). In brief, it is to explore when the plate modal should be hidden vs. blocking re-opening of the modal vs. presenting to the user a "waiting" message for operations that may run for a reasonable length of time.

[2019-04-25 02:46] antgonza commented on #227
Right, not enforced but can add to my rework of the target_gene/platform/target_subfragment, if required ... @wasade ?

[2019-04-25 03:01] wasade commented on #227
That would be great, thank you!

On Wed, Apr 24, 2019, 7:46 PM Antonio Gonzalez <notifications@github.com>
wrote:

[2019-04-25 15:03] wasade opened #487 "Describe versioning scheme"
For milestone 4, we began associating versions as at the completion of the milestone, a new version of labcontrol will be cut.

The repo presently, and loosely, uses the QIIME2 syntax, e.g. 2019.4. For this milestone, it is currently labeled using a more traditional semantic versioning, e.g., 0.1.0. Both versioning schemes are in use with projects in the lab. The 0.1.0 format as major version bump

[2019-04-25 15:05] antgonza commented on #487
IMOO date makes sense when dealing with fast changing tools, like LC; once the tool/features are more stable we can adopt the number format. However, I don't have a strong preference ...

[2019-04-25 16:28] RodolfoSalido commented on #482
I believe that replacing spaces with underscores will be appropriate. The formatted name will be the name for the directory where the demultiplexed data will be deposited.

[2019-04-25 16:40] charles-cowart commented on #482
Thanks @RodolfoSalido! Does this sound all right with you, @ghsmu414?

[2019-04-25 16:45] AmandaBirmingham commented on #482
Before we have everyone sign off, let's take the opportunity to decide on other potential problem characters.  Whitespace becomes an underscore--check.  What about any other non alpha-numeric characters that might appear in a name?  Hyphens should be fine in a folder name, but what about, say, apostrophes (e.g., "O'Brien")?  @antgonza do you know if there are any limits on what characters can appe

[2019-04-25 16:51] charles-cowart commented on #482
@AmandaBirmingham Qiita's filters on names will allow all printable ASCII characters, if I'm not mistaken. The filters are primarily to filter out Unicode, etc. characters.

[2019-04-25 16:53] antgonza commented on #482
@charles-cowart and @AmandaBirmingham , that's correct but it will allow ' and also icons; cause I guess they are valid? See the list of newly created names in my local install:
![Screen Shot 2019-04-25 at 10 51 59 AM](https://user-images.githubusercontent.com/2014559/56753663-4be33b00-6748-11e9-9af2-ca31d3f8068a.png)

[2019-04-25 16:55] charles-cowart commented on #487
IMHO, date is more intuitive, at least for right now. No strong preference.

[2019-04-25 16:57] AmandaBirmingham commented on #482
@antgonza Whoa! :)  Ok, so I guess the requirements for fixing this issue are:
1) Replace whitespace with underscore
2) Replace any characters (other than whitespace) *that aren't valid in a folder name* with **X**--where X is whatever filler character is approved by the stakeholders.  Could be an empty string if they just want us to elide these characters.

@RodolfoSalido @ghsmu414 @jdereus I thi

[2019-04-25 16:58] charles-cowart commented on #482
@antgonza icons? That's interesting, as the filter is defined as 'anything not within the printable ASCII range'. Not sure if anyone is going to be using icons any time soon...

[2019-04-25 16:59] antgonza commented on #482
After seeing that this was possible, I was thinking in: "Antonio Gonzalez 👑 "

[2019-04-25 17:33] jdereus commented on #482
Project and sample names in the sample sheet cannot contain illegal characters not allowed by some file systems.   The characters not allowed are the space character and the following

? ( ) [ ] / \ = + < > : ; “ ‘ , * ^ | & .

From: Antonio Gonzalez <notifications@github.com>
Reply-To: jdereus/labman <reply@reply.github.com>
Date: Thursday, April 25, 2019 at 9:59 AM
To: jdereus/labman <labman@nor

[2019-04-25 18:23] AmandaBirmingham opened #488 "User can pass >4 gdna plates to compression page from plate list, leading to ugly error"
Reproduction gif below.  From plate list, user can pick more than 4 gDNA plates for compression, which is illegal but is not checked on compression.html page when plates come in via querystring rather than being added on that page natively.

![compression_checkbox_issues](https://user-images.githubusercontent.com/10677935/56758735-353ee300-674c-11e9-89f5-278cc904d038.gif)

Also see #485 : these ar

[2019-04-25 19:15] AmandaBirmingham commented on #420
@wasade Could you help me work out the reproduction path for this?  Looking at the screenshots on this issue and #479, I tried to follow the steps shown but wasn't able to get the same result (see attached gif). Alternately, if you have the full error message of which the top part is shown in the animated gif above, that might help me hunt this down ...

![reproduce_420](https://user-images.github

[2019-04-25 19:27] AmandaBirmingham commented on #431
This issue and https://github.com/jdereus/labman/issues/483 are not the same, but they are *definitely* kissing cousins.  Please keep both in mind when attempting a fix.

[2019-04-25 19:27] AmandaBirmingham commented on #483
This issue and https://github.com/jdereus/labman/issues/431 are not the same, but they are *definitely* kissing cousins.  Please keep both in mind when attempting a fix.

[2019-04-25 19:46] AmandaBirmingham commented on #483
@RodolfoSalido  wrote:

Ok, so this means the specifications for this code have changed :(, and the stakeholders on this need to **re-have** the conversation about assigning sample project name for blanks and controls. The above comment adds:

There's the rub.  In LabControl, blanks are certainly associated with a specific *extraction* (because we track the provenance of every well back through it

[2019-04-25 19:50] AmandaBirmingham commented on #431
See #483 for question

[2019-04-25 20:00] ghsmu414 commented on #483
Hi Amanda,

I think for multiple projects on the same plate, the controls should be added to all projects associated.

[2019-04-25 20:02] AmandaBirmingham commented on #205
Ah, but WHERE (in the LabControl output files) do the blank names that this issue is concerned with come from?  I'm going to guess from the sample sheet (obviously, correct me if I'm wrong!).  Below is a snippet from a current example of a sample sheet LabControl creates for a shotgun run (this issue is only relevant to shotgun, right?  Again, correct me if I'm wrong!)

[Data] |   |   |   |   |  

[2019-04-25 20:05] charles-cowart commented on #483
k, working on 431 - will take a look after the CMI meeting.

[2019-04-25 20:05] AmandaBirmingham commented on #483
@ghsmu414 That makes perfect logical sense to me :) ... How would that be correctly represented in the sample sheet?

[2019-04-25 20:10] jdereus commented on #205
That sounds like it would satisfy uniqueness requirements.

I do not know definitively if this is only for shotgun.  It _might_ crop up again as we are sometimes doing deeper sequencing on the MiSeq machine.  But that would be a question for wetlab people.  From a processing perspective, we just need uniqueness in all sample names.

From: Amanda Birmingham <notifications@github.com>
Reply-To: jder

[2019-04-25 20:10] AmandaBirmingham commented on #327
Note that code changes for this issue CANNOT commence until we gather specifications from Gail and get them signed off by her and any other stakeholders--otherwise we are wasting our time.

[2019-04-25 20:45] AmandaBirmingham commented on #205
Hi, @jdereus can you confirm that the file whose contents we are discussing is the "sample sheet"? (I've attached a zipped example  since I know our terminology isn't entirely consistent :)

[2019-04-25_samplesheet_test_shotgun_blank_test.csv.zip](https://github.com/jdereus/labman/files/3118806/2019-04-25_samplesheet_test_shotgun_blank_test.csv.zip)

*If so*, then I can confirm that this issue won

[2019-04-25 20:48] ghsmu414 commented on #483
@AmandaBirmingham I think they can be assigned to the largest project on the plate (the project with the most samples on that plate) If that is too difficult it can be assigned to one of the projects and we will be able to track them back for analysis.

[2019-04-25 20:58] #246 closed

[2019-04-25 20:58] #474 closed

[2019-04-25 20:58] #477 closed

[2019-04-25 21:00] AmandaBirmingham commented on #466
Closed by PR #468

[2019-04-25 21:00] #466 closed

[2019-04-25 21:00] AmandaBirmingham commented on #351
Closed by PR #468

[2019-04-25 21:00] #351 closed

[2019-04-25 21:01] AmandaBirmingham commented on #458
Closed by PR #468

[2019-04-25 21:01] #458 closed

[2019-04-25 21:21] jdereus commented on #205
That file looks like it would process properly as what I consider to be a sample sheet.

Yes on amplicon sample sheet format.  With the requirement for the N’s or it will not process in MiSeq.  They are removed from the sample sheet when I go to complete the bcl conversion.

From: Amanda Birmingham <notifications@github.com>
Reply-To: jdereus/labman <reply@reply.github.com>
Date: Thursday, April 2

[2019-04-25 21:23] wasade commented on #483
To resolve the one to many case, where controls are to be added to all studies on the plate, would it be easier to sort this out *after* bcl2fastq? If so, then I believe we could retain the present functionality, and work with @jdereus to replicate the control per sample sequence files to the respective studies.

[2019-04-25 22:20] charles-cowart commented on #483
@AmandaBirmingham: Specifically, the 'Project_name' column is empty for the control file. Gail said we could pull the value from the data for the samples file, but as you know with the way that loops works, it would require us to first see an iteration for samples, store the value for project_name, and hope that it's suitable for all subsequent entries in control.

Another option that I implemente

[2019-04-25 22:31] AmandaBirmingham commented on #205
Based on the discussion here, I conclude that this was a real issue when created, but that it was addressed along the way by other work and is no longer one.  Therefore I'm closing it.

[2019-04-25 22:31] #205 closed

[2019-04-25 22:51] AmandaBirmingham commented on #457
@RodolfoSalido Below is a screenshot of changes I am proposing to address this issue.  Please compare this to the OLD settings (see second screenshot below) and let me know if I've gotten the fixes right! :)

**Proposed new:**
![Screen Shot 2019-04-25 at 3 50 37 PM](https://user-images.githubusercontent.com/10677935/56773179-f02da780-6771-11e9-98ee-b2d95cbe9dcc.png)

**Old:**
![Screen Shot 2019-04

[2019-04-29 22:24] AmandaBirmingham opened #490 "Unable to change contents of cell on sample plate"
Attempting to replace contents of cell on plate map with new contents doesn't work--it is set back to existing value

![autocomplete_rodolfo](https://user-images.githubusercontent.com/10677935/56930753-af47d280-6a92-11e9-80c1-1a068efac70f.gif)

[2019-04-29 22:25] AmandaBirmingham commented on #490
Backstory:

From: "Birmingham, Amanda"
Date: Monday, April 29, 2019 at 1:26 PM
To: Rodolfo Salido
Cc: Charles Cowart
Subject: Re: Following up re autocomplete issue with LabControl sample plating

Rodolfo, sorry for taking so long to get back to you on this, and thank you for the screen capture video—it is super useful!  I can’t reproduce this on maptest by just typing in NAs and then editing them

[2019-04-29 22:31] AmandaBirmingham commented on #457
Ping @RodolfoSalido Could you approve/disapprove the above proposed changes?  Thanks!

[2019-04-29 22:31] AmandaBirmingham commented on #420
Ping @wasade can you provide any more reproduction guidance?

[2019-04-29 22:49] RodolfoSalido commented on #457
Sorry, I thought I had replied. This changes are what we wanted.

Thanks!

-Rodolfo

Sent from my iPhone

[2019-04-29 23:36] charles-cowart commented on #327
@AmandaBirmingham For the subquery to collect prep information (below), it looks like I can straight replace the '16S' tables with their 'Shotgun' equivalents. However when I do so, I get zero results for sequencing_process_id = 1 (AGP), and even if I remove the 'WHERE' clause. Do you think I'm missing something?

[code]

[2019-04-30 18:47] AmandaBirmingham commented on #482
Ping @ghsmu414 @RodolfoSalido @jdereus I haven't heard an opinion on what you want us to replace any character that ISN'T whitespace with (e.g., if if PI name is "O'Brien", do we replace ' with - to get O-Brien? Or do we just remove that character altogether to get OBrien? etc).  Please let us know what you want!

[2019-04-30 19:15] RodolfoSalido commented on #482
If the hyphen doesn't introduce issues, then I think it is a good solution as a substitution for restricted characters. Underscore will replace whitespace characters while a hyphen will replace all other restricted characters.

-Rodolfo

[2019-04-30 19:19] jdereus commented on #482
Seems fine to me for hyphen.

From: RodolfoSalido <notifications@github.com>
Reply-To: jdereus/labman <reply@reply.github.com>
Date: Tuesday, April 30, 2019 at 12:15 PM
To: jdereus/labman <labman@noreply.github.com>
Cc: "Dereus, Jeff" <jdereus@ucsd.edu>, Mention <mention@noreply.github.com>
Subject: Re: [jdereus/labman] Metagenomics Sample Sheet generation introduces spaces in 'Sample_project' col

[2019-04-30 20:17] #457 closed

[2019-04-30 20:27] AmandaBirmingham commented on #431
When solving this issue, we may want to determine if it intersects with/is affected by #387 "Add new `was_pooled` field to amplicon prep file for blanks" ... e.g., does it make sense to assign blanks/controls to a particular project if they weren't ever actually pooled (and thus sequenced)?  My understanding is that in the amplicon pipeline, usually only 2 blanks are pooled; see below.

https://gi

[2019-05-01 01:37] charles-cowart commented on #327
Just an FYI: I believe this is the correct form of the subquery for shotgun:

[code]
I was banging my head against a wall until I stepped through each join and examined the output, reviewed code, etc. The turning point was realizing all results from labman.sequencing_process where sequencing_process_id = 1 were Amplicon assays. :)

[2019-05-01 01:45] charles-cowart commented on #327
FYI, like other 'composition' tables, 'labman.pool_composition' is a table that records compositions that in this case are composed of other pools (duh). Rather than being the table to keep and consult for pooling information, it actually only applies to compositions that are pools of other pools.

[2019-05-01 02:49] AmandaBirmingham commented on #327
No, I'm afraid this is not the case.

 Any given record in `labman.pool_composition` is associated with a single pool.  The "ingredients" that make up that pool are listed in `labman.pool_composition_components`, with one record in that table for each ingredient (and with those component records being linked to the `labman.pool_composition` record they are a part of by their `output_pool_compositi

[2019-05-01 04:31] charles-cowart commented on #327
@AmandaBirmingham Thanks so much for the clarification! You are right; in labman.pool_composition_components for example, the input_composition_id is FKey'ed to composition(composition_id) while output_pool_composition_id is FKey'ed to pool_composition(pool_composition_id):

[code]

As you said, there's no need for a mapping table; the two tables being joined are being joined on a foreign key that

[2019-05-01 22:22] charles-cowart commented on #431
@AmandaBirmingham Is this a question for @ackermag? My thought was that every control would be part of a project, but you're saying that if the control/blank wasn't plated, you'd prefer for it to remain blank in the controls prep sheet?

[2019-05-01 22:25] AmandaBirmingham commented on #431
@charles-cowart Given today's discussion, that will not be the case: ALL controls on a plate will get the study for that plate, and labcontrol will not create output for any case where a plate has >1 study on it (to avoid creating misleading output).  I will modify the issues to reflect our conclusions either tonight or tomorrow morning.

[2019-05-02 03:45] charles-cowart commented on #327
Not to offend, just added Amanda and myself to the assignees list, since we've been working on this together and separately since Friday.

[2019-05-02 21:05] wasade opened #493 "__eq__ tests different state than what __hash__ is derived from"
See the discussion [here](https://github.com/jdereus/labman/pull/489#discussion_r280506202), this impacts `LabControlObject`.

[2019-05-02 21:08] charles-cowart opened #494 "Verify correctness of LabControlObject's __hash__ and __eq__ methods"
As @wasade has pointed out, the base class for most if not all of LabControl's classes is LabControlObject, and this object implements the __hash__ and __eq__ methods.

I don't often implement __hash__ and __eq__ in classes, so I reviewed the code and tested it for myself and I've confirmed this to be true.

At @wasade's request, we should review/test the code and verify whether or not __eq__'s be

[2019-05-02 23:44] AmandaBirmingham commented on #483
Per discussion 20190501 with Greg, Charlie, Jeff, Gail, Daniel, Amanda: For 0.1.0 milestone, modify code to error out if try to create sample sheet/prep sheet for plates with >1 study on them, so will not create misleading data (but recall all data still stored in labcontrol so can go back and create whatever files needed from that later, once decision made and code updated).  W that check in plac

[2019-05-02 23:47] AmandaBirmingham commented on #445
Per discussion 20190501 with Greg, Charlie, Jeff, Gail, Daniel, Amanda: For 0.1.0 milestone, revert code to combine all studies into same prep sheet--including controls.  Then wait for greater Knight lab to figure out how to deal with controls on plates with multiple (or no) studies--get RK's live input--and then get back to us, since whatever change is implemented will have to affect some things

[2019-05-02 23:50] AmandaBirmingham commented on #327
NB: Since the decisions of our recent meeting mean https://github.com/jdereus/labman/issues/445 is pulled into the 0.1.0 milestone, note that we need to make sure both amplicon and shotgun prep sheet creation performs the check to ensure there is not more than 1 study represented on any plate being included in the prep output (and hopefully implements this check in shared code :) )

[2019-05-02 23:50] AmandaBirmingham commented on #327
@charles-cowart Re https://github.com/jdereus/labman/issues/327#issuecomment-488208480 , yes, I agree the query in that comment produces the correct output.  My comment was only to clarify *how* it does so :)

[2019-05-02 23:59] AmandaBirmingham commented on #327
I believe the only outstanding stakeholder questions outstanding on this one are about whether to include the gdna extraction/plating/etc detail columns that are included in the amplicon prep sheet but have not historically been included in the shotgun prep sheet (even though they are relevant to shotgun preps).  Per discussion on 04/26/2019 with Gail after the group meeting, my understanding is t

[2019-05-03 00:01] AmandaBirmingham commented on #420
@wasade  It appears to me that this issue is now the ONLY one for 0.1.0 that still has an outstanding question.  We need to nail this down if we are going to get it into the next release.  Can you estimate when you will have a window to provide more guidance on its reproduction?

[2019-05-03 00:11] wasade commented on #420
I apologize, I thought I had responded. Away from my laptop for a short while, will look at recreating with additional info after.

[2019-05-03 01:53] wasade commented on #420
To recreate:

1) Pools -> Prepare amplicon sequencing library
2) Add a shotgun pool
3) Sequencing runs -> Prepare sequencing run
4) Add the pooled shotgun pool
5) Download the sample sheet

![issue_420](https://user-images.githubusercontent.com/474290/57116679-84b47e80-6d0b-11e9-8f3b-e63cfbd33f96.gif)

[2019-05-03 01:55] charles-cowart commented on #493
Closing as a duplicate of the more detailed https://github.com/jdereus/labman/issues/494

[2019-05-03 01:55] #493 closed

[2019-05-03 01:58] wasade commented on #494
I updated this to a low priority as a scan of the code base suggested a one-one relationship between object definitions and `_table`, and no evidence right now that this is a problem in practice.

[2019-05-03 02:49] charles-cowart commented on #327
Hmm, that would be a nice thing to have...:)

On Thu, May 2, 2019 at 4:59 PM Amanda Birmingham <notifications@github.com>
wrote:

[2019-05-03 02:49] charles-cowart commented on #327
:D Thanks so much for doing so! It was a big help.

On Thu, May 2, 2019 at 4:51 PM Amanda Birmingham <notifications@github.com>
wrote:

[2019-05-03 18:23] AmandaBirmingham commented on #420
@wasade  Thank you, that is extremely helpful!

[2019-05-03 18:46] wasade opened #495 "Sample ID to tube ID information"
The wet lab requests an interface to see the association between sample IDs and specimen (tube) IDs, which can be helpful in the event of usual characters, sanity checking, etc. Access to this interface would be from the sample plating page, and open a new window. The new window would present a two column spreadsheet, where the first column is the sample ID and the second column is the specimen ID

[2019-05-03 19:42] AmandaBirmingham commented on #430
FYI @wasade  This is SOOOO easy (and will save Gail having to do a manual search and replace) that I am pulling it into the 0.1.0 milestone.  I am already mucking around in the prep sheets for #431 and #445 anyway :)

[2019-05-03 21:22] AmandaBirmingham commented on #430
@ackermag @antgonza I am ready to make this change but need to know **exactly** what the correct contents of the prep sheet `INSTRUMENT_MODEL` should be for this sequencer: Above from @ackermag (https://github.com/jdereus/labman/issues/430#issue-428984513) I have `Illumina MiSeq` but from @antgonza  (https://github.com/biocore/qiita/blob/master/qiita_ware/ebi.py#L93) I have `ILLUMINA MISEQ`.  Whic

[2019-05-03 22:00] #445 closed

[2019-05-03 22:40] antgonza commented on #430
We just made that column and a bunch other a requirement to make any artifact private/public in Qiita and the final official values are going in this PR: https://github.com/biocore/qiita/pull/2890/files; note that it still needs to be reviewed by @ackermag and @charles-cowart.

[2019-05-03 23:14] ackermag commented on #430
Are we not including the Oxford Nanopore machines - Minion etc?

The list Antonio has pointed to is the full set of all machines accepted by
Qiita but some are not relevant to LabControl and will never be (LS454
machines and Ion Torrent).  I would specify the following:
Illumina HiSeq 1000', 'Illumina HiSeq 1500', 'Illumina HiSeq 2000',
    'Illumina HiSeq 2500', 'Illumina HiSeq 3000', 'Illumina H

[2019-05-06 17:32] AmandaBirmingham commented on #430
@ackermag @antgonza Why is Gail's list mixed case while Antonio's is all upper-case?  (like, is there some additional processing between the prep sheet and the EBI upload from Qiita that ucases everything?  Or do I need to worry about the discrepancy? :)

[2019-05-06 19:05] ackermag commented on #430
My list is exactly as EBI requires the text to be inserted - it is case-specific for how it should be inserted into prep sheet. e.g. Illumina MiSeq is fine but Illumina Miseq will be rejected.

[2019-05-06 22:40] AmandaBirmingham opened #497 "Pool list page checkboxes allows user to add metagenomics (not amplicon) plate pools, which leads to error downstream in sequencing run sample sheet preparation"
See https://github.com/jdereus/labman/issues/420 for error produced

![issue497](https://user-images.githubusercontent.com/10677935/57271288-c6169800-7043-11e9-8254-f74bdd2d3859.gif)

[2019-05-06 22:43] AmandaBirmingham opened #498 "Prepare Sequencing Run allows users to mix amplicon and metagenomics pools, which leads to error downstream in sequencing run sample sheet preparation"
Currently, when selecting a sequencer that has more than one lane (and thus accepts more than one pool), nothing prevents the user from mixing amplicon pool(s) with shotgun (plate) pool(s).  Unfortunately, this mixing was not anticipated in the software development and causes problems at the sample sheet download step: if the shotgun pool is added first, the code assumes all pools are shotgun pool

[2019-05-06 23:40] AmandaBirmingham commented on #498
Note that the proximate reason for the incorrect behavior is

https://github.com/jdereus/labman/blob/1b6163584d1a4a0e5222b200dfe6cda1253bf71f/labcontrol/db/process.py#L2713-L2715

Which only checks the composition type of the FIRST pool component when deciding whether the sequencing run is amplicon or shotgun.  However, the ultimate cause is that the code doesn't support having both kinds in the s

[2019-05-07 00:33] charles-cowart commented on #327
I believe this is largely correct. I don't believe there should be different primer_set_ids, and different primer_dates for i5 and i7, but I've included them here for confirmation as they're easy to remove; the data for each pair of columns are identical.

`SELECT
   study.study_id,
   study_sample.sample_id,
   study.study_alias AS project_name,
   study_sample.sample_id AS orig_name,
   study.st

[2019-05-07 05:30] AmandaBirmingham commented on #430
Eww, not quite as easy as I thought because of https://github.com/jdereus/labman/issues/266

[2019-05-07 05:43] AmandaBirmingham commented on #430
Moved back out of 0.1.0 milestone because of linkage to #266 above and need (stated above by Gail) to get Greg's approval on the new values.

[2019-05-07 17:04] #456 closed

[2019-05-08 17:07] AmandaBirmingham commented on #487
@wasade Can you clarify what the deliverable for this issue is?  Currently scoping our progress :)

[2019-05-08 18:02] charles-cowart commented on #327
WIP PR for resolving this issue is now available: https://github.com/jdereus/labman/pull/502

Roping https://github.com/jdereus/labman/issues/431 into this issue, as we need to solve it for shotgun as well.

[2019-05-08 18:04] wasade commented on #487
A paragraph of text in the readme describing the version structure, minimal locations where the version is specified (ideally a single location), and how that version number changes. It is not necessary to, for example, use `versioneer` as is used in QIIME2. However, that would be a bonus.

[2019-05-08 20:37] wasade opened #503 "Support for Nextera and other library preparations"
While discussing preparation sheets, @AmandaBirmingham @charles-cowart and I realized that the present shotgun library preparation page only allows for Kapa Hyper Plus:

<img width="1641" alt="Screen Shot 2019-05-08 at 1 32 32 PM" src="https://user-images.githubusercontent.com/474290/57406556-dfc7f480-7195-11e9-9903-88c6740dcb4b.png">

I spoke with @ghsmu414 and he confirmed that, while the majori

[2019-05-08 20:45] #420 closed

[2019-05-08 20:45] #497 closed

[2019-05-08 20:45] #498 closed

[2019-05-08 20:55] #431 closed

[2019-05-09 05:02] AmandaBirmingham opened #505 "PoolingProcess._format_picklist() produces incorrect output if populating >15 destination wells (on a 384-well plate)"
For the test data for PoolingProcess(3) in the test db, the volume in every well of the 384-well input plate is 1 nL except for wells 0 23 and 24 and P 23 and 24, which are empty.  In this, case, when entering a max_vol_per_well of 1 nL, one would expect each input well to go into a separate output well (except for the 4 noted above), so there should be 380 output wells (A1-P20).  See attached exp

[2019-05-09 05:34] AmandaBirmingham commented on #505
I have hunted down the cause of this behavior, which is due to the interaction of three separate bugs in the below section of the method:

https://github.com/jdereus/labman/blob/46241e448edd4fc615aeea914e8dd80bf88aad79/labcontrol/db/process.py#L2534-L2549

Issue 1:
https://github.com/jdereus/labman/blob/46241e448edd4fc615aeea914e8dd80bf88aad79/labcontrol/db/process.py#L2548

This line is intended

[2019-05-09 05:36] AmandaBirmingham commented on #505
**Please note:** it looks like the LabControl method being discussed here may come verbatim from https://github.com/tanaes/metagenomics_pooling_notebook/blob/cf93b57d70f3a36f1321bd2b7a78275e358f7178/metapool/metapool.py#L451-L496 , and thus the fixes described above may need to be propagated to that code if it is still in use.

[2019-05-09 06:05] AmandaBirmingham commented on #505
Also note that even with the corrections above, this code will output garbage in either of the two edge cases below:

1. you don't have enough wells to pool all the input volumes, given the max vol per well
2. an individual input well has > the max vol per well

[2019-05-09 17:10] AmandaBirmingham opened #506 "Correct misspelling of Kapa (not kappa) Hyper Plus name throughout application"
Per @wasade:

From: Daniel McDonald
Date: Wednesday, May 8, 2019 at 2:56 PM

<snip />

One thing that Greg noted: It’s Kapa not kappa… :/

https://sequencing.roche.com/en/products-solutions/by-category/library-preparation/dna-library-preparation/kapa-hyperplus.html

@charles-cowart  is already using the correct spelling in the shotgun prep sheet generation, so that doesn't need to be touched.   Si

[2019-05-09 17:56] AmandaBirmingham commented on #490
On Mon, Apr 29, 2019 at 1:26 PM Birmingham, Amanda wrote:
Rodolfo, sorry for taking so long to get back to you on this, and thank you for the screen capture video—it is super useful!  I can’t reproduce this on maptest by just typing in NAs and then editing them … Since it resolved on its own after a while (eeeeew), it may as you say be related to database query issues.  Still, I’m not ready to giv

[2019-05-09 17:59] AmandaBirmingham commented on #490
From: Rodolfo Salido
Date: Thursday, May 2, 2019 at 10:52 AM
To: "Birmingham, Amanda"
Subject: Re: Following up re autocomplete issue with LabControl sample plating

I pasted the whole plate map (plate 24)  from a collaborators spreadsheet. Here's a link to it [from AB: link removed--see uploaded copy attached here].  I believe they edited the sample names since I tried plating these.

Let me know

[2019-05-09 18:11] AmandaBirmingham opened #507 "Record platform of sequencer in database rather than hard-coding as "Illumina""
The platform of the particular sequencer used for a run is output in the prep sheet.  Currently, that value is hard-coded as `Illumina`, but since the lab also uses other kinds of sequencers (Nanopore, PacBio, etc), this is not adequate.  This info needs to be recorded per-sequencer somewhere--preferably the database.

Note that this should almost certainly be done at the same time as #266 Move de

[2019-05-09 18:12] AmandaBirmingham commented on #266
See https://github.com/jdereus/labman/issues/507#issue-442364742 re related issues to be fixed at same time as this.

[2019-05-09 18:12] AmandaBirmingham commented on #430
See https://github.com/jdereus/labman/issues/507#issue-442364742 re related issues to be fixed at same time as this.

[2019-05-09 18:21] AmandaBirmingham opened #508 "Output compression robot name in shotgun prep sheet?"
The *amplicon* prep sheet includes info on the robots used for various steps of the sample handling.  The shotgun process includes a compression step (which the amplicon process does not) for which LabControl records the robot used (see screenshot) ... should this be included in the shotgun prep sheet output?

![shotgun prep sheet could output compression robot](https://user-images.githubuserconte

[2019-05-09 20:25] AmandaBirmingham opened #509 "Centralize and harden identification of pool component types"
There are a number of places in the code where what we do depends on what kind of inputs were put into a particular pool (for example, is the pool in question an amplicon plate pool, where the inputs are 16s library prep compositions?  or is it an amplicon sequencing plate, where the inputs are (amplicon plate) pool compositions?  or is it a shotgun plate pool, where the inputs are shotgun library

[2019-05-09 20:26] AmandaBirmingham commented on #509
This issue captures one of the code smells from https://github.com/jdereus/labman/pull/500

[2019-05-09 20:35] AmandaBirmingham opened #510 "PoolListHandler.get would identify pools from future new protocols as amplicon sequencing pools"
The code in PoolListHandler.get identifies amplicon sequencing pools by process of elimination (i.e., any pool that is is not made up of any kind of known pool plate is treated as an amplicon sequencing pool):

https://github.com/jdereus/labman/blob/a5308e9c26a0344fd30e1c0c5e50c9a7d212fbef/labcontrol/gui/handlers/pool.py#L23-L39

This issue must be addressed before adding any new protocols or pool

[2019-05-09 20:36] AmandaBirmingham commented on #510
This issue captures one of the code smells from #500

[2019-05-09 20:43] AmandaBirmingham opened #511 "Check to ensure samples that get a SequencingProcess._generate_sample_proj_value of None are NOT experimental?"
Before a recent refactor, `SequencingProcess._generate_sample_proj_value` included the following TODO:

https://github.com/jdereus/labman/blob/f930206122f5adc0f12afb004021ce8fec77851e/labcontrol/db/process.py#L3215-L3221

Memorializing this here so it isn't forgotten. I vaguely recall we actually HAVE seen cases where the sample project was none for experimental samples, I think because they didn'

[2019-05-09 20:55] AmandaBirmingham opened #512 "Provide more explicit capture of error from PoolListHandler.get given unknown pool type?"
Currently, PoolListHandler.get throws a 500 error if it is passed a pool type that it doesn't recognize.  This is as it should be :)  However, one of the places this get is used is within an ajax call in sequencing.html:

https://github.com/jdereus/labman/blob/46241e448edd4fc615aeea914e8dd80bf88aad79/labcontrol/gui/templates/sequencing.html#L100-L108

At the moment there is no handling in place fo

[2019-05-09 22:34] AmandaBirmingham opened #513 "Relocate definition of assay types"
This issue is related to but not entirely the same as #480 Assay types are not fully centralized , and it should be addressed before adding any new protocols to the software.

There are several places in the code that decide what to do based on checking the assay type.  Right now this assay type is a property of the SequencingProcess (see `assay` on the `sequencing_process` table, below) :

![Scre

[2019-05-09 22:41] AmandaBirmingham opened #514 "Extend SequencingProcess._format_sample_sheet to handle more than two assay types"
This issue is related to #513 Assay types are not fully centralized and #513 Relocate definition of assay types.

There are *numerous* places within `SequencingProcess._format_sample_sheet` that currently assume there are only two potential types of assays: either amplicon or metagenomics (shotgun), and thus decide which action to take just by looking at the boolean `self.is_amplicon_assay`:

http

[2019-05-09 22:54] #482 closed

[2019-05-09 22:56] AmandaBirmingham commented on #362
Note that this issue applies both for plate pools (made through the "Pool library plates" menu item) and for sequencing pools (made through the "Prepare amplicon sequencing pool" menu item).  The settings one would need to view for existing pools are different between these two kinds of pools, but the fact that you should be ABLE to view them is not :-/

[2019-05-09 23:32] charles-cowart commented on #483
@AmandaBirmingham I think I can close this issue, right?

[2019-05-09 23:33] charles-cowart commented on #505
@AmandaBirmingham I think I can close this one as well?

[2019-05-09 23:36] AmandaBirmingham commented on #505
Not yet (but hopefully soon!) Just put in the PR for this one: https://github.com/jdereus/labman/pull/515

[2019-05-09 23:37] AmandaBirmingham commented on #483
Yep, was fixed by https://github.com/jdereus/labman/pull/504 . Thanks for catching that :)

[2019-05-09 23:37] #483 closed

[2019-05-10 00:34] charles-cowart commented on #503
https://github.com/jdereus/labman/blob/677f696334fa2fdf2b6a9b084ec9c812fbcd8ae1/labcontrol/db/process.py#L4117

[2019-05-10 04:33] charles-cowart opened #517 "Review underlaying commit behavior of sql_connection.py"
Non-blocking, this makes me cringe, but I recognize that it may be a necessary evil right now. That, or I'm just not a strong database developer in which case, please ignore my novice cringing.

_Originally posted by @wasade in https://github.com/jdereus/labman/pull/502_

[2019-05-10 04:36] charles-cowart commented on #506
https://github.com/jdereus/labman/pull/502#discussion_r282708951

Plan is to revert instances of {K|k}apa to kappa in order to be more consistent, and change only the column name in the final prep file output to 'Kapa'.

[2019-05-10 04:51] #438 closed

[2019-05-10 04:51] #505 closed

[2019-05-10 07:14] #487 closed

[2019-05-10 17:41] AmandaBirmingham opened #518 "Scrub codebase to harden well name (e.g. 'A1') generation/use code that cannot handle >26 rows"
Current plates used in the lab (96-well and 384-well) have fewer than 26 rows, so row letters in well names can be created just by incrementing the ascii character code, and well names can be parsed assuming that the row letter will be a single letter.  However, plates with >26 rows exist (e.g., 1536-well plates have 32 rows and 48 columns, and name their rows past Z with the convention AA, AB, et

[2019-05-10 17:57] wasade commented on #327
@charles-cowart, can this be closed now that #502 is merged?

[2019-05-10 17:58] #327 closed

[2019-05-20 19:45] charles-cowart opened #519 "Studies associated with a plate disappear"
Studies that have been associated with a plate have been reported to disappear when the user migrates to another page and then return to the plating interface.

Speculation is that this occurs because studies without associated specimen_ids in any of the cells below may be getting removed from the the plate metadata. This may be fine for completed plates, however, for plating in progress, it appea

[2019-05-20 19:59] charles-cowart opened #520 "Unexpected cell behavior during plating"
- A copy/paste operation on a cell blows away everything in the cell, not just any highlighted text in the cell, this is not normal behavior.
- Users can't multi select cells and clear contents using the delete key. This is also expected behavior.
- If you copy/paste a specimen_id (be it sample_id, tube_id, etc.) into a cell, you will not get a drop-down menu with the study_id.specimen_id listed,

[2019-05-21 21:34] AmandaBirmingham opened #522 "Implement tester.py equivalent for gui"
populate w code that loads index.html (the test runner page) into headless chrome and captures results

[2019-05-21 21:35] AmandaBirmingham opened #523 "Integrate gui tester.py into .travis.yml"

[2019-05-21 21:36] AmandaBirmingham opened #524 "Implement POC javascript unit test in separate .js library called by library-specific.html"

[2019-05-21 21:37] AmandaBirmingham opened #525 "Trial update of POC unit test from QUnit 1.x to 2.x"

[2019-05-22 21:12] charles-cowart commented on #522
@josenavas, @tanaes Do you guys remember why we have tester.py? It appears to be something to load test classes and run them according to supplied parameters. However, all the tests are subclassed from LabControlTestCase, which in turn is subclassed from unit test's own TestCase class. Hence, I'm kind of wondering why we have a second entry point to run unit-tests? It seems like we could run every

[2019-05-24 02:17] charles-cowart commented on #523
Summary of how the javascript tests are run in Emperor:

A line in the Travis YAML file executes 'coverage run tests/all_tests.py'; Coverage is simply wrapping the execution of all_tests.py, a script with a command-line interface that can run some or all of Emperor's tests, based on parameters.

PhantomJS is a headless browser based on WebKit. A section of code in all_tests.py builds a command-lin

[2019-05-24 02:18] charles-cowart commented on #523
With the above confirmed, and headless chrome a Travis dependency, a toy version of this workflow will be forthcoming.

[2019-05-24 17:22] wasade commented on #523
Thanks, @charles-cowart!

cc @ElDeveloper (just to keep appraised, no specific request)

[2019-05-24 18:05] charles-cowart commented on #523
@AmandaBirmingham My pleasure!

Just an FYI to anyone interested, it seems as though the latest auto-update to Chrome causes an error when trying to run headless. Currently, I can dismiss two of the errors by specifying my own --crash_dir, but I have not been able to resolve the remaining error:

[0524/104021.267190:ERROR:browser_process_sub_thread.cc(217)] Waited 1 ms for network service

This ap

[2019-05-29 06:00] charles-cowart commented on #523
Committing my notes to GitHub:

Testing in LabControl can be broken down into two parts: The unit-tests that are subclassed from unittest and run through nosetests, and the stress and integration tests, which are executed using db/tester.py.

All tests in gui/* are currently subclassed from unittest, specifically tornado.testing.AsyncTestCase and tornado.testing.AsyncHTTPTestCase, and use Mock whe

[2019-05-29 06:04] charles-cowart commented on #523
node-qunit-puppeteer labcontrol/gui/test/index.html 10000  "--allow-file-access-from-files --no-sandbox" is already a part of travis, and should execute all Qunit tests declared in index.html and stored in a suitable location e.g.: /gui/test. Will push a wrapper py for node-qunit-puppeteer in the morning.

[2019-05-30 02:49] charles-cowart commented on #522
Related to #523. See comments.

[2019-05-31 18:57] charles-cowart commented on #479
The natural thing to do would be to add a uniqueness constraint on the pool's name in the database. Unfortunately, it appears that a pool's name is not stored in labman.pool or even labman.composition, but is stored in 'external_id' in labman.tube. Not knowing what else external_id in labman.tube might be used for, adding a constraint to that field is a non-starter. I also think that enforcing som

[2019-06-04 21:32] charles-cowart commented on #523
Resolved by #527

[2019-06-04 21:32] #523 closed

[2019-06-04 21:33] charles-cowart commented on #522
Resolved by #527

[2019-06-04 21:33] #522 closed

[2019-06-05 06:10] AmandaBirmingham opened #529 "Decide on javascript documentation standard"

[2019-06-05 17:14] #524 closed

[2019-06-05 17:14] #525 closed

[2019-06-05 17:17] wasade commented on #171
This is an ongoing issue partially addressed with the "Establish a Javascript unit testing framework" milestone. Removing from that milestone as fully resolving this specific issue was not a requirement for completion of the milestone.

[2019-06-05 22:06] wasade opened #530 "Adapter information needs to be recorded"
From the micromeeting on 5/16, it was noted that adapter information can vary on shotgun processing and that this information is not presently being captured.

@RodolfoSalido or @ghsmu414, is the following a succinct assessment?

"Downstream QC / processing of shotgun sequence data requires knowledge of the adapter sequences associated with library preparation, and the adapter sequences can differ

[2019-06-05 22:26] AmandaBirmingham opened #531 "Refactor to remove add_plate_modal_dialog.html and replace with use of addPlateModal.js's insertPlateModalDiv"
Inserting add_plate_modal_dialog.html via template includes was the first attempt at centralizing this html/functionality. However, for JS unit testing, it turns out we really need to be able to insert this HTML via a JS call on the dom.  I definitely don't like it existing in two places (as it currently does) and I never liked the template include approach anyway, so let's transition to the js do

[2019-06-06 17:26] wasade opened #532 "Prepending study IDs when copying/pasting"
The wet lab is reporting that study IDs are not being prepended when sample or tube identifiers are copied and pasted into cells.

Frequently, when plating, the qiita study ID is not part of the identifier. As a result, the wet lab may modify the sample information to correct the tube ID field and then attempt to replace. Or, they may copy / paste the IDs into labcontrol and then manually go cell

[2019-06-06 17:29] wasade opened #533 "Case sensitivity when copying and pasting"
The wetlab is reporting that copying and pasting is a case sensitive operation. This is "expected" as the README indicates sample IDs are case sensitive. However, the behavior logically differs from when manually entering an identifier as the autocomplete popup is case insensitive.

It would be pleasant for copying and pasting to be case insensitive in the event that an exact match can be made bet

[2019-06-07 18:38] AmandaBirmingham opened #535 "Support creating the individual working primer plates in a primer set on different days"
This issue was raised in the email below:

Currently LabControl doesn't support this: both shotgun working primer plates (i5 and i7) are created at the same time, as a pair, with the same creation date attached:

![Screen Shot 2019-06-07 at 11 31 10 AM](https://user-images.githubusercontent.com/10677935/59125714-03f32e80-8918-11e9-8530-acfb4ba0f9d3.png)

![Screen Shot 2019-06-07 at 11 34 11 AM](ht

[2019-06-12 20:14] charles-cowart commented on #308
In brief, labcontrol/gui/templates/library_prep_shotgun.html is the page that contains this volume field, and unlike its 16s counterpart, there are no comments on what it's used for.

The value 'volume-input' gets assigned to the 'volume' key before going out on the POST call to endpoint /process/libary_prep_shogun.

The POST request is handled by the class LibraryPrepShotgunProcessHandler, where

[2019-07-03 18:55] charles-cowart opened #538 "Modify Compress gDNA plates to support MiniPCR"
Compress gDNA plates is currently only used for the shotgun workflow. The new miniPCR workflow also uses the same functionality, unchanged. We should verify that the backend code reflects this, and modify the pull-down menu to show Compress gDNA plates under General Workflow.

[2019-07-03 19:05] charles-cowart opened #539 "Fork MiniPCR version of 'Prepare Amplicon Library'"
A version of 'Prepare Amplicon Libraries' to support MiniPCR should be created separate from the current version supporting 16S, using the current version as a template. Since the default values are likely to be different, it appears we will need two separate forms, and two separate menu entries. The existing 'Amplicon' menu entry will need to be renamed to '16S' to more accurately reflect the exi

[2019-07-03 19:10] charles-cowart opened #540 "Modify menu item for Picogreen Quantification"
Picogreen quantification is used for both the 16S and shotgun workflows, and is listed under 'General Workflow'. It will not be part of the MiniPCR workflow however. Hence we should decide whether this item gets migrated to under both 16S and Shotgun workflows, or whether it's understood that not all General Workflow items need to be used in a workflow.

[2019-07-03 19:17] charles-cowart opened #541 "Fork Pool Library Plates for MiniPCR"
The MiniPCR workflow needs to support the pooling of some or all of 384 individual wells, or alternatively some or all of a 384 well plate as 4 96 well 'sub-plates'. MiniPCR is similar to shotgun, in that it does not require a pool of pools, the way 16S does; the backend of this fork should reflect that.

[2019-07-03 19:19] charles-cowart opened #542 "Fork UI Dialog for Pooling Library Plates to support MiniPCR"
The MiniPCR workflow needs to support the pooling of some or all of 384 individual wells, or alternatively some or all of a 384 well plate as 4 96 well 'sub-plates'. MiniPCR requires a new interface dialog to support this sub-selection.

[2019-07-03 19:29] charles-cowart opened #543 "Support PCR Cleanup for MiniPCR workflow"
The MiniPCR workflow pools all pools for a MiSeq run before performing PCR cleanup.  The 16S workflow pools individual plates, PCR cleanup is performed, and then all clean pools are pooled for the MiSeq run.

[2019-07-03 19:33] charles-cowart opened #544 "Prepare MiniPCR sequencing run"
Prepare Amplicon Sequencing run makes use of specific SQL queries to generate prep information files. A separate fork of the supporting code for this needs to be created, with the appropriate queries, and the schema will need to be modified.

[2019-07-03 19:35] charles-cowart opened #545 "'Sequencing Runs' menu modified to support MiniPCR"
Add MiniPCR entry as a new menu item, rename Amplicon to 16S.

[2019-07-03 20:38] charles-cowart commented on #453
Changed this from start_webserver to start-webserver during the last few rounds of labman -> labcontrol renaming. Closing.

[2019-07-03 20:40] charles-cowart commented on #394
https://github.com/jdereus/labman/pull/534 Also touches on this issue.

[2019-07-03 22:42] charles-cowart commented on #298
Going to assume this is only for Picogreen Quantification dialog, since it's the only occurrence of upload I'm familiar with.

[2019-07-05 21:35] charles-cowart commented on #311
It looks like 'Run experiment' is also the name of a column for amplicon sample sheet output, as well as the label for the dialog. I'll verify w/Gail the appropriate name for the sample sheet output, before changing.

[2019-07-05 23:09] AmandaBirmingham commented on #453
Looks like somehow this didn't officially get closed, but I agree it should be.

[2019-07-05 23:09] #453 closed

[2019-07-05 23:11] AmandaBirmingham commented on #394
@charles-cowart  AFAIcan tell, the only place "labman" is left is in the name of our repo :)  Should we close this issue, or modify it to address the repo name itself?

[2019-07-05 23:20] AmandaBirmingham commented on #298
@charles-cowart yep.  Adjusting issue name to clarify :)

[2019-07-05 23:21] AmandaBirmingham commented on #298
Relevant page:

![Screen Shot 2019-07-05 at 4 20 22 PM](https://user-images.githubusercontent.com/10677935/60748261-d1e9e200-9f40-11e9-82dd-fcacfd25cab2.png)

[2019-07-05 23:22] charles-cowart commented on #394
Yeah, I've been thinking the same thing. I think only Jeff has ownership of
the repo; with that and other considerations it's a reasonable task just by
itself.

On Fri, Jul 5, 2019 at 4:11 PM Amanda Birmingham <notifications@github.com>
wrote:

[2019-07-06 06:57] charles-cowart commented on #394
Closing this issue, as #534 removes all remaining instances of labman, save for the github project name itself. A new issue will be created for this migration.

[2019-07-06 06:57] #394 closed

[2019-07-06 07:08] charles-cowart opened #549 "Rename GitHub Project to LabControl"
Rename or migrate source + history to a project named 'LabControl'. This may also be better off moved from jDereus to Biocore.

[2019-07-06 07:19] charles-cowart commented on #529
At the last Code Review, it was suggested Marcus write up a 'best-practices' for javascript and GUI-related coding for the lab. @AmandaBirmingham and/or @charles-cowart can touch base with him.

[2019-07-12 21:47] #286 closed

[2019-07-17 23:22] charles-cowart commented on #549
Project name has been changed to LabControl. Ownership change to Biocore in progress.

[2019-07-19 22:44] charles-cowart commented on #171
@fedarko @qiyunzhu Now that we have a framework in place to develop additional tests, we can look at adding the most obvious ones for the next release. Following that, we can close this issue and issue individual issues for subsequent tests.

[2019-07-19 22:47] charles-cowart commented on #518
Tentatively assigning to the nice-to-haves, as this seems to be something that is not broken, but needs to be made more robust in time.

[2019-07-19 22:48] charles-cowart commented on #506
Resolved with:
https://github.com/jdereus/LabControl/pull/547
https://github.com/jdereus/LabControl/pull/548

[2019-07-19 22:48] #506 closed

[2019-07-19 22:54] charles-cowart commented on #488
This looks like a gentle introduction to the LabControl codebase for @fedarko and @qiyunzhu . Bumping it to the full-release, as it looks relatively simple to do, and adds to the robustness of the system. I suggest also adding text that appears saying that only up to four plates can be checked at a time.

[2019-07-19 22:55] charles-cowart commented on #517
Will resolve at some point before release.

[2019-07-19 23:09] charles-cowart commented on #508
Will ask @jdereus to add Gail to the collaborators list and then forward the question to Gail. I haven't heard anyone ask for it yet, but good to know.

[2019-07-20 01:56] charles-cowart commented on #495
A very solid idea - tentatively assigning to nice-to-haves milestone for now, will revisit as higher priority items are completed.

[2019-07-20 02:36] charles-cowart commented on #503
Tentatively assigning to full launch.

[2019-07-20 02:38] charles-cowart commented on #514
Needed for support of MiniPCR. Assigned to full launch

[2019-07-20 02:58] charles-cowart commented on #513
Tentatively assigned to full launch, as it may impact implementing MiniPCR. A little concerned that this property and/or the classes themselves are not well-defined, if what this property is a property of is that subjective. Will investigate.

[2019-07-20 03:00] charles-cowart commented on #512
Thanks @AmandaBirmingham ! This looks like another good entry-level issue for @fedarko and/or @qiyunzhu and myself.

[2019-07-20 03:30] charles-cowart commented on #510
IMHO, we should avoid fall-throughs and explicitly define all valid paths, so we can defensively assert against the currently invalid ones, make it easier to add new functionality, etc.

[2019-07-20 03:58] charles-cowart opened #550 "Copyright and authorship text might need updating"
Python module author and email should perhaps be changed to reflect LabControl as a keystone project. Copyright notice should also perhaps be updated.

[2019-07-20 17:37] AmandaBirmingham commented on #488
@charles-cowart : Not against having @fedarko and @qiyunzhu take this on. However, all, please be aware that although this sounds straightforward, the functionality for passing plates from the plate list to various pages (because different kinds of plates are able to go to different kinds of pages, and in different numbers, and yadda yadda) is really surprisingly bug-prone.  I personally would rat

[2019-07-20 17:42] AmandaBirmingham commented on #514
+1 for needed for support of MiniPCR

[2019-07-20 17:44] AmandaBirmingham commented on #513
@charles-cowart I strongly feel we should do this for MiniPCR.  Agree that it is a bit murky what this is a property of, but I think now is the time to hash that out.

[2019-07-20 17:52] AmandaBirmingham commented on #512
@fedarko @qiyunzhu @charles-cowart Whoever is tackling this, please use the `.fail(function(..))` on the ajax call (see skeleton example below in addPlateModal.js) to set up explicit ajax error handling.

https://github.com/jdereus/LabControl/blob/3d85d70a4b65ddd22baaa306120b77403e08de47/labcontrol/gui/static/js/addPlateModal.js#L59-L77

[2019-07-20 20:16] charles-cowart commented on #513
Thanks for your input! I’ll reassign it to full launch this evening.

On Sat, Jul 20, 2019 at 10:44 AM Amanda Birmingham <notifications@github.com>
wrote:

[2019-07-22 21:57] charles-cowart commented on #503
After a little bit of thought, it might be better to make the creation of a new kit type a separate interface in the Admin section. Granted everyone is currently an admin, but I think it's prudent to prevent casual creation of new kit types.

[2019-07-23 16:13] AmandaBirmingham commented on #503
Note that it won't be enough to add an interface to allow admins to create new kit types ... we will also need to change the shotgun library prep interface--AND, more thornily, the underlying db and object structure--to allow user to specify the kit type as well as the kit id.  Right now, all the way down to the db level, LabControl expects ALL shotgun library prep to be done with a kappa hyper pl

[2019-07-23 17:53] charles-cowart commented on #503
That does sound like it goes deep; I'll ask Greg if this is needed before launch, we can prioritize it behind the other deliverables.

[2019-07-27 02:33] charles-cowart opened #553 "Plate-mapper behaving incorrectly."
Wet-lab has an issue with blank cells - it appears when the data is all lower-case and is copied and pasted from google sheets, LabControl can reformat the data as intended. If one or more characters are uppercase, LC will highlight the items in red.

Wet-lab still needs to manually input the Qiita Study ID before the Tube ID for the AGP and Palmer Rats studies. This may be related, hence it has b

[2019-07-30 01:41] charles-cowart commented on #533
Also documented in #553

[2019-07-30 01:44] charles-cowart commented on #529
@fedarko would you or @qiyunzhu like to comment on a documentation standard for the javascript? If you don't have ideas, I will table this until after full release.

[2019-08-06 01:36] charles-cowart commented on #533
Fix checked in as #557

[2019-08-06 14:46] jtoronczak opened #558 "Can't enter sample info for project 12604"
In Qiita we've selected for the tube id to be input into the platemap, and once the samples are pasted into the plate map (using tube id) in this error shows up:

Error
Error running SQL query: Query: SELECT sample_values->'tube_id' FROM qiita.sample_12604 as tube_id WHERE sample_id = %s Arguments: ['12604.MAD.1.17.268.01'] Error: permission denied for relation sample_12604

Traceback
Traceback (m

[2019-08-06 17:44] charles-cowart commented on #558
Hi Julia,

Thanks for the bug report! We've already fixed some of the code in this
area, so this will be a perfect to use as a use case!

Best,

Charlie

On Tue, Aug 6, 2019 at 7:46 AM jtoronczak <notifications@github.com> wrote:

[2019-08-06 17:56] jtoronczak commented on #558
Hi Charlie,

thanks for getting back to me! I'm not entirely sure what that means, but
I've also had issues in the last few plates (Alderete: 12604) and (Twins
UK: 11624) with none of the samples matching the qiita project.

Best,
Julia

On Tue, Aug 6, 2019 at 10:44 AM charles-cowart <notifications@github.com>
wrote:

[2019-08-09 18:43] fedarko opened #559 "Integrating QC for shotgun data into LabControl"
Per @justinshaffer's presentation at this morning's meeting. This would probably require a fair amount of work on the back-end side of things—so I'm not sure how long integrating this would take—but this issue can at least make note of it for future reference.

[2019-08-09 18:48] charles-cowart commented on #354
Taking over from @wasade.

[2019-08-09 19:04] charles-cowart commented on #450
Resolved with #554. The support_files directory was not being installed into the environment.

[2019-08-09 19:04] #450 closed

[2019-08-09 19:22] charles-cowart opened #560 "Blocking out MiniPCR UI"
Turning the MiniPCR UI requirements into actionable items.

[2019-08-09 19:23] charles-cowart commented on #560
Assigning this to @AmandaBirmingham and myself, as we were part of the meeting.

[2019-08-09 19:37] charles-cowart commented on #559
@fedarko Let's see if we can sit down with Justin and go over it soonish.

[2019-08-09 21:25] charles-cowart commented on #480
Resolved with #554

[2019-08-09 21:25] #480 closed

[2019-08-09 21:36] #513 closed

[2019-08-09 21:37] #514 closed

[2019-08-09 21:52] charles-cowart commented on #553
The above part of this issue was resolved with PR #557

[2019-08-09 22:43] charles-cowart commented on #553
Confirmed that with this fix, when control types ('blank', 'contam', etc.) are cut and pasted into a cell or typed, the control type will appear in the pull-down menu, even if the entry is in mixed or upper case. Confirming w/wetlab that when they cut and paste the blank control type, it is just the keyword 'blank' in arbitrary case.

However, I believe the use case where this is an issue is actua

[2019-08-09 22:53] charles-cowart commented on #553
Similarly, when a Tube ID is typed or cut and pasted in whole or in part a single cell at a time, the fully qualified Tube ID, with Study ID prepended should appear in the drop-down menu. However, the case where this is still an issue is when multiple cells have been selected from Google Sheets and pasted into the plate-mapper. Obviously, the pull-down menu can't be generated for each cell, and mo

[2019-08-09 22:55] charles-cowart commented on #553
Testing against the Palmer Rats study should be done once the next release is pushed to RC (maptest.ucsd.edu) for testing, as the data will be there.

[2019-08-09 22:59] charles-cowart commented on #532
Overlaps #553

[2019-08-09 23:00] charles-cowart commented on #520
Overlap with #553

[2019-08-10 06:37] #488 closed

[2019-08-13 23:44] charles-cowart commented on #171
@qiyunzhu As mentioned, here is the official issue for the adding unit tests and refactoring javascript code as needed to support those tests. As this issue is relatively general, if you want, we can sit down together and look through the javascript and break this issue down by file, class, etc.

[2019-08-14 20:02] gwarmstrong opened #561 "change github url in `setup.py`"
https://github.com/jdereus/LabControl/blob/b4ee5c60549c504a0b10c2490669c9c0dfdd970c/setup.py#L39

The `setup.py` currently uses the old url. The old url currently redirects to the new url, so it seems low priority, but I imagine it would be ideal to update this string to 'https://github.com/jdereus/labcontrol'

[2019-08-14 20:10] charles-cowart commented on #561
Thanks! Known issue. We're waiting for ownership of LabControl to change from jdereus to biocore before changing this last bit.

[2019-08-14 20:11] charles-cowart commented on #561
@gwarmstrong Once the project changes ownership, go ahead and submit a PR. Thanks!

[2019-08-14 20:12] gwarmstrong commented on #561
@charles-cowart will do!

[2019-08-14 20:30] fedarko commented on #561
Thanks George and Charlie! Just adding on here—I briefly investigated this the other day, and there are a few other places (some user-facing in the GUI) that should probably be changed (comments probably aren't super important, but the main ones are the README and HTML template files).

[code]

[2019-08-14 20:45] fedarko opened #562 "No plates show up if refreshing the "Plates list" page"
When you first load the "Plates list" page, the `Plate type` dropdown is set to `Choose plate type...`

<img width="1552" alt="Screen Shot 2019-08-14 at 1 32 36 PM" src="https://user-images.githubusercontent.com/4177727/63054095-0f268580-be98-11e9-957f-d50066b6611c.png">

When the user selects a plate type, the associated plates are loaded as expected (...pardon the debug names).

<img width="1552

[2019-08-14 20:57] charles-cowart commented on #561
Just beat me to it! :) Yes, there's a few other places as well. In fact, if you search on dereus, there are a few more locations that should be changed:

LICENSE:Copyright (c) 2017, jdereus
README.md:git clone https://github.com/jdereus/labman.git
labcontrol/gui/templates/sitebase.html:                  <li><a href="https://github.com/jdereus/labman/blob/master/docs/index.rst">Tutorial</a></li>
la

[2019-08-14 21:01] charles-cowart commented on #558
@fedarko Adding you to this, as this will be a useful sample test case once code is pushed to maptest.ucsd.edu, and we get access to the study data required to debug this.

[2019-08-14 21:17] charles-cowart commented on #529
@fedarko @qiyunzhu Please comment on whether there is an existing standard you'd like to use, or whether you'd prefer to table this for after the launch. It would be good to make a decision before any more code is written or changed.

[2019-08-14 21:34] qiyunzhu commented on #529
My opinion is to NOT set up any JavaScript coding style guideline. This is because front end programming is a fast evolving field. There are many coding styles. The mainstream ones are Google, Airbnb and GitHub. In large projects, people would specify one special coding style definition per project, using Node.js, and have Eslint checking the code. This definition may not be any of the three, but

[2019-08-14 21:44] fedarko commented on #529
@charles-cowart: Apologies for the severely delayed response.

For just basic style I'm a fan of the ["prettier" auto-formatter](https://github.com/prettier/prettier) (fairly easy to set up—if you've used [black](https://black.readthedocs.io/en/stable/) for python code then this is basically that but for JS/HTML/CSS), but I don't have much familiarity with things like docstring standards or formal

[2019-08-14 23:01] charles-cowart commented on #432
@fedarko This would be a nice to have for the full launch, but it's just not as high a priority as the other issues. This would be a good thing for George to dig through the code and document, and if he needs help you might be able to provide it, since you're also working in the plate-mapper area.

[2019-08-14 23:07] fedarko commented on #432
@charles-cowart Got it! Between George and I, I think this issue should be handleable.

FYI to @gwarmstrong: from what I can tell, the code that handles the individual well styles does this via CSS classes (which seem to all be defined [here](https://github.com/jdereus/LabControl/blob/master/labcontrol/gui/static/css/labcontrol.css#L27)). I would imagine that we could solve this fairly simply by j

[2019-08-14 23:09] charles-cowart commented on #432
@fedarko there will be no yelling. :)

[2019-08-15 00:59] fedarko opened #563 "Note re: Slickgrid version"
While talking with @charles-cowart I realized that I wasn't actually sure which version of SlickGrid was in use (since the ["main" SlickGrid repo](https://github.com/mleibman/SlickGrid) stopped development almost 3.5 years ago).

After examining [our `slick.grid.js` file](https://github.com/jdereus/LabControl/blob/313d006ccad1d9111d218b7ce645eb6d10fe37a9/labcontrol/gui/static/vendor/js/slick.grid.

[2019-08-15 02:53] fedarko commented on #563
More notes for the future:

- attempting to update SlickGrid (i.e. all of the `slick.*.js` files we rely on, plus the corresponding plugins) to [v2.4.3](https://github.com/6pac/SlickGrid/releases/tag/2.4.3) straight-up breaks the whole "edit mode" functionality entirely.
- attempting to update just the `slick.cellexternalcopymanager.js` file to the latest version—and keeping the other SlickGrid JS

[2019-08-15 17:18] charles-cowart commented on #354
Adding @fedarko , as he's working on getting multicell-cut and paste to behave harmoniously with single cell cut and paste.

Updating this issue w/text from Marcus's email update:

I spent some time working with SlickGrid to see if there were any ways to get around the issue described here (and in Daniel's corresponding PR here), in order to make the CellExternalCopyManager SlickGrid plugin play n

[2019-08-15 17:28] charles-cowart commented on #354
@fedarko Thanks again for investigating! Yeah, I think it's totally worth it to remove the warts while you're there.

[2019-08-15 17:46] gwarmstrong commented on #432
I currently have a mock up going for this [here](https://github.com/gwarmstrong/LabControl/tree/issue432-cell-colors)

Before:
![Screen Shot 2019-08-15 at 10 34 18 AM](https://user-images.githubusercontent.com/19470970/63114476-c6c7a000-bf49-11e9-8de7-a97e34d3754f.png)

After:
![Screen Shot 2019-08-15 at 10 35 26 AM](https://user-images.githubusercontent.com/19470970/63114482-cb8c5400-bf49-11e9-86

[2019-08-15 17:49] charles-cowart commented on #432
@gwarmstrong Looks great, thanks! I think moving two of them to the right to make it a 2x2 square rather than a 1x4 is a better use of space; it'll prevent people from having to scroll down more to view the entire legend.

[2019-08-15 18:26] gwarmstrong commented on #432
@charles-cowart
How about now?
![Screen Shot 2019-08-15 at 11 25 38 AM](https://user-images.githubusercontent.com/19470970/63116874-81a66c80-bf4f-11e9-8e18-226914abb38f.png)

[2019-08-15 18:39] gwarmstrong commented on #432
Also, is there any way to get feedback from the lab on whether the legend descriptions are reasonable?

[2019-08-15 20:13] charles-cowart commented on #432
Amanda and I looked them over and we have a few comments I'll pass on later
this afternoon.

On Thu, Aug 15, 2019 at 11:39 AM George Armstrong <notifications@github.com>
wrote:

[2019-08-15 20:16] gwarmstrong commented on #432
Great, should I go ahead and submit a PR, and we can handle the commenting there?

[2019-08-15 20:17] charles-cowart commented on #432
sure! I'll add them as part of a review

On Thu, Aug 15, 2019 at 1:16 PM George Armstrong <notifications@github.com>
wrote:

[2019-08-16 00:17] fedarko opened #565 "Add another cell color, for the case where there are multiple "matches" for a tube ID in multiple studies being plated"
@charles-cowart and I whiteboarded this out. This issue will need to be taken care of after #553 is addressed (and "matching" of the pasted-in IDs with study IDs is done automatically in the JavaScript side of things upon pasting multiple cells from excel/google sheets/etc).

Essentially: if multiple studies (let's say with study ID `2` and study ID `99`) are being plated simultaneously, it's poss

[2019-08-16 22:27] #432 closed

[2019-08-16 23:28] fedarko commented on #563
Another note:

From what I can tell, we currently use an additional grid to simulate a "frozen column" (i.e. keeping the first column in place even when the plate is scrolled horizontally). This is documented [in this comment](https://github.com/jdereus/LabControl/blob/master/labcontrol/gui/static/js/plateViewer.js#L19-L24).

It looks like (as of December 2018) [**SlickGrid officially supports fro

[2019-08-17 01:52] fedarko opened #567 "Multiple plates are being created for a single plating operation"
So here's the thing. While working on #354, I noticed that if you put a `console.log()` statement in the `PlateViewer.initialize()` function, then it would be called _twice_ when starting a plating operation: once when you select a plate configuration (e.g. `96-well deep-well plate`), and then once again when you actually press the green "Create" button.

I was under the impression initially that

[2019-08-17 05:47] charles-cowart commented on #565
Resolved in PR #566

[2019-08-19 19:41] #565 closed

[2019-08-19 19:43] charles-cowart commented on #563
I'd like to do away with the additional grid eventually; I will flag this for post full-release TODOs.

[2019-08-20 00:50] fedarko opened #568 "Adding another study should force a plate mapper update"
This currently doesn't happen, but it would make sense to have this sort of functionality available (discussed this with @charles-cowart).

As an example: say the user enters in some specimen IDs associated with "Study 1", but no studies have been added for the given plate yet. These IDs would all show up with a red candy-stripe background.

If the user then adds Study 1, these specimen IDs will r

[2019-08-20 00:51] fedarko commented on #568
Implementing this shouldn't be *too* difficult (on adding a study, force a refresh of all of the wells), but I'm not familiar enough with this code to say how easy it'll be to go from pseudocode to implementation.

[2019-08-20 01:22] fedarko commented on #562
**Note: this issue also happens if you navigate back to the "Plate samples" page. See attached screenshot** (notice how the "Create" button is disabled, even though a valid plate configuration is selected).

<img width="1552" alt="Screen Shot 2019-08-19 at 6 20 38 PM" src="https://user-images.githubusercontent.com/4177727/63310085-2c02f480-c2ae-11e9-98ec-b1e80a68c184.png">

This is a pretty genera

[2019-08-20 17:54] #354 closed

[2019-08-20 17:54] #567 closed

[2019-08-20 18:19] charles-cowart opened #570 "Change ownership of LabControl"
Change ownership of LabControl from jdereus to biocore. Breaking this out from #549

[2019-08-20 18:21] charles-cowart commented on #570
Adding @ElDeveloper and @jdereus so we can coordinate on a time when we're all in the office.

[2019-08-20 18:22] charles-cowart commented on #549
Closing, as Labman has been renamed to LabControl.

[2019-08-20 18:22] #549 closed

[2019-08-20 18:51] charles-cowart commented on #529
@fedarko Prettier does look like it'd be worthwhile to use - what do you think, @qiyunzhu?

[2019-08-20 18:53] charles-cowart commented on #570
closed!

[2019-08-20 18:53] #570 closed

[2019-08-20 20:46] qiyunzhu commented on #529
I used Beautify. Haven't tried Prettier yet.

On Tue, Aug 20, 2019 at 6:51 PM charles-cowart <notifications@github.com>
wrote:

[2019-08-20 20:57] charles-cowart commented on #529
It sounds like  if we can try to make the code a little easier to look at with either prettier or beautify, then that's enough for now. Let's make it a point to run any js code we work on through one of the two, and if there's a benefit, check that in.

[2019-08-20 20:57] #529 closed

[2019-08-20 23:54] #562 closed

[2019-08-20 23:54] #561 closed

[2019-08-21 01:53] fedarko opened #575 "Sanitizing input text for "get" queries"
Doesn't look like this has been logged as an issue before, so I'm documenting it here.

In the style of [xkcd](https://xkcd.com/327/), I tried plating a specimen with the ID `');console.log('hi');`. Fortunately, this doesn't result in `hi` being printed to the console; unfortunately, it does cause a 500 internal server error:

[code]

Looks like it's the `'` character (which gets converted to `%27

[2019-08-21 16:55] gwarmstrong opened #576 "Turn `Pools` -> `Pool library plates` into two separate menus, one for shotgun and one for amplicon"
@charles-cowart told me about this issue. The main idea is that the `Pool library plates` menu currently makes users choose `Shotgun library paltes` or `Amplicon library plates`, and then they can add plates. For this issue, we would like to split these into two separate dropdowns from `Pools`.

It also looks like there are some inconsistencies between drop-downs for `Plates`, `Pools`, and `Sequen

[2019-08-21 18:37] gwarmstrong commented on #576
Working on this on https://github.com/biocore/LabControl/tree/issue576-separate-pool-library-plates

[2019-08-21 21:43] fedarko opened #577 "Disable plating interface until at least one study is selected"
Based on discussion with @charles-cowart.

[2019-09-05 17:33] gwarmstrong opened #586 "flake8 does not check labcontrol directory"
https://github.com/biocore/LabControl/blob/1427ad163682ff11b1086e0e3b1010ba1a2166ee/.travis.yml#L100

This line has `labman` instead of `labcontrol` and flake8 does not throw non-zero exit codes if it is passed directories/files that do not exists. So this should be changed to `labcontrol` so the python code is actually linted.

[2019-09-05 18:05] #576 closed

[2019-09-05 21:34] fedarko commented on #586
This is a good catch, thanks!

[2019-09-06 22:49] AmandaBirmingham commented on #437
@fedarko @gwarmstrong I believe that the specific concern raised here about `PlateViewer.getActiveStudy()` is based on a misunderstanding.  My understanding of that function is that it does _not_ assume that a plate can only have samples from one study on it--rather, it assumes that the user can only **add** samples from one study *at a time* during the plating process.  The studies listed in the

[2019-09-07 03:36] fedarko commented on #437
@AmandaBirmingham Thanks for the comment. I agree, I think I have misunderstood the scope of this problem—my apologies. (Also, I should apologize to @ElDeveloper—he raised this issue to me a few days ago in response to my comment on GitHub, and I assumed that he was talking about an older version of LabControl before the supposedly breaking changes were added. I should've looked into that more.)

[2019-09-09 23:09] AmandaBirmingham commented on #577
I agree that 99% of the time (ok, probably 99.9% of the time ...) users will want to plate actual samples.  However, it is entirely possible for them to make and run plates that contain nothing but some combination of blanks, negative controls, and positive controls--none of which require a study.  Therefore I do not think we can require them to pick a study before letting them plate.  We could, m

[2019-09-09 23:28] gwarmstrong opened #588 "connection often times out on `test_download` and `test_get_download_normalization_process_handler`"
You're right, this has been a recurrent problem I've noticed in the past couple weeks. I think there are a couple things we can do to try to reduce this.
* Increase the `timeout` limit in the line below:
https://github.com/biocore/LabControl/blob/1427ad163682ff11b1086e0e3b1010ba1a2166ee/labcontrol/gui/testing.py#L71
* add retry functionality _within_ the test, e.g. something like [this](https://st

[2019-09-09 23:33] gwarmstrong commented on #588
It may also be useful to do something like
[code]
in `labcontrol/__init__.py` or something like that, then this can be incremented (akin to the `build_number` parameter in conda-forge builds) to have some arbitrary parameter to change to restart the CI build.

[2019-09-10 00:21] fedarko commented on #577
I wasn't aware that was a use case, but I can understand how that'd happen! Agreed that we should definitely allow users to plate without a study, then.

As I remember, the main reason Charlie and I started talking about this issue was #568—currently, if you start plating things then select a study, the already-plated wells don't update and it looks wonky. If we make sure that #568 is properly acc

[2019-09-10 00:35] gwarmstrong opened #589 "give front-end and back-end test directories the same name"
Yeah, we need both. Essentially this file is saying "don't include coverage information for these directories in the total summary"—it was already excluding the `tests/` directory (i.e. `labcontrol/db/tests/`, but it wasn't excluding the `test/` directory for the front-end (`labcontrol/gui/test/`). This change should fix that problem, and the result is that coveralls should now provide a more real

[2019-09-10 00:36] gwarmstrong commented on #589
To summarize concisely, we should pick a convention for testing, either all tests in directories named `test/` ore `tests/`, but not a mix of both throughout the project.

[2019-09-10 02:31] fedarko opened #590 "Remove need for hidden section in plate-map-legend"
As discussed in the thread [here](https://github.com/biocore/LabControl/pull/585/files/10ef1ef11f677957f23dc9765235e5642a81e1e1#r322488618).

[2019-09-10 22:29] fedarko commented on #589
We'll likely need to update a variety of parts of the code that reference these directory names, including `.coveragerc`, `.travis.yml`, etc.

[2019-09-11 00:12] fedarko opened #591 "Refactor updateUnknownsAndDuplicates to only check certain wells, making it more efficient"
Recapping this issue: I wrote the following comment in `patchWell()`—
https://github.com/biocore/LabControl/blob/10ef1ef11f677957f23dc9765235e5642a81e1e1/labcontrol/gui/static/js/plateViewer.js#L458-L472

@AmandaBirmingham responded to it [here](https://github.com/biocore/LabControl/pull/585#discussion_r322494558)—

[2019-09-11 00:36] fedarko opened #592 "Cache list of active samples when the active study is changed in the plating interface"
This should speed up the client-side matching process, as implemented in #585. This will be helpful when plating samples for huge datasets (e.g. AGP).

I imagine this should be pretty simple to implement (whenever the active study changes, update an `activeSamples` array or something that's stored as a property of the `PlateViewer` object or less ideally as a global variable).

Issue created based

[2019-09-11 01:29] fedarko opened #593 "Adding a "being processed" color/border/... to newly plated wells? Or vice versa."
Using the fancy multiple-copy-and-pasting functionality :), if you paste in a bunch of things at once then there's a sometimes-brief period where some of the wells pasted in have a white background, even if they really shouldn't. See the attached screenshot, where I pasted in the same ID to a bunch of cells—only some of the cells' formatting has changed to reflect the fact that this text is 1) dup

[2019-09-11 01:34] fedarko opened #594 "In plating interface, valid sample IDs occasionally "flash" red before turning another color"
I don't know why this is happening—I don't *think* it's an artifact of the changes made in #585, but I suppose that could be the case. I think this behavior has been observed before, so I figure we should document this here.

Since this occurs really inconsistently (not sure if this means anything, but I wasn't able to reproduce this after adding a single debug `console.log()` statement to the top

[2019-09-11 19:25] #586 closed